html {
    font-size: 62.5%;
}
body {
    font-family: $primary-font;
    font-size: 1.6rem;
    line-height: 1.4;
}

* {
    font-family: $primary-font;
}


h2 {
    color: #A7A9AB;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 3.6rem;

    > small > a {
        font-size: 18px;
        margin-left: 10px;
        font-weight: 700;
        font-style: italic;
    }
}

h3 {
    color: #A7A9AB;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 2.4rem;

    > small > a {
        font-size: 18px;
        margin-left: 10px;
        font-weight: 700;
        font-style: italic;
    }
}