## NOTICE: This file is written by ansible, and any changes made here will be overwritten on next provision.
#           Modify cac-tripplanner.otp-data/templates/otp.conf.j2 to make changes stick.
description "start OpenTripPlanner process"

start on {{ upstart_start_on }}
stop on runlevel [!2345]

setuid {{ otp_user }}

chdir {{ otp_bin_dir }}
script
    exec /usr/bin/authbind /usr/bin/java -Xmx{{otp_process_mem}} -jar {{ otp_jarfile }} --server --analyst --port 80 --basePath {{ otp_data_dir}} --graphs {{ otp_data_dir }} --router default
end script
