{
    updaters: [
        {
            type: "bike-rental",
            frequencySec: {{ bikeshare_update_interval_s}},
            sourceType: "gbfs",
            url: "{{ bikeshare_update_url }}"
        }
    ]
}
