.body-info, .body-explore, .body-about {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: $body-color;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .main {
        display: block;
        max-width: $home-main-max-width;
        margin: 0 auto 10rem;

        @include respond-to('xs') {
            margin-right: 20px;
            margin-left: 20px;
        }

        @include respond-to('xxs') {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    h1 {
        flex: auto;
        margin: 3rem auto;
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('xs') {
            margin: 2rem auto;
            font-size: 2rem;
            line-height: 1.75;
        }

        a {
            @include delinkify;
        }
    }

    .preview-card {
        @include respond-to('xxs') {
            margin-bottom: $home-section-margin/2;
        }
    }

    .info-article {
        background-color: $white;
        font-size: 1.6rem;
        line-height: 1.7;
        margin-bottom: 100px;
        padding-bottom: 40px;
        box-shadow: $place-card-drop-shadow;

        @include respond-to('xxs') {
            box-shadow: none;
        }

        @include respond-to('xxs') {
            margin-bottom: 50px;
        }
    }

    .info-article-header {
        padding: 0 4rem;

        @include respond-to('xxs') {
            padding: 0 1rem;
        }
    }

    .info-article-image-hero {
        height: 200px;
        margin-right: -4rem;
        margin-left: -4rem;
    }

    .info-place-image-hero {
        height: 400px;
        margin-right: -4rem;
        margin-left: -4rem;

        @include respond-to('xxs') {
            height: 60vw; // Honor destination image aspect ratio
        }
    }

    .info-article-image-hero,
    .info-place-image-hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .info-article-header-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 24px 0;

        @include respond-to('xs') {
            flex-direction: column;
            align-items: stretch;
        }
    }

    .info-place-meta {
        display: flex;
        flex: none;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 9.6rem;
        margin-left: 3.2rem;

        @include respond-to('xs') {
            flex-direction: row;
            align-items: center;
            margin: 3.2rem 0 0;
        }
    }

    .info-place-categories {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 1rem 0 0;
        padding: 0;
        color: $gophillygo-green;
        font-size: 1.4rem;
        list-style: none;

        @include respond-to('xs') {
            flex-direction: row;
            margin: 0 .8rem 0 0;
            font-size: 1.5rem;
        }

        .category {
            margin-bottom: 1em;
            line-height: 1.2;

            @include respond-to('xs') {
                margin: 0 1.6rem 0 0;
            }

            @include respond-to('xxs') {
                margin-right: .8rem;
            }
        }
    }

    .info-place-activities {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        color: $gray;
        font-size: 2.4rem;
        line-height: 1.4;
        list-style: none;

        @include respond-to('xxs') {
            font-size: 2rem;
        }

        .activity:not(:last-of-type) {
            margin-right: .8rem;
        }

        .activity {
            @include respond-to('xxs') {
                margin-right: .1rem;
            }
        }
    }

    .info-article-category {
        margin-bottom: 20px;
        color: $gophillygo-red;
        font-size: 1.4rem;
        line-height: 1;
        text-transform: uppercase;
    }

    .info-article-title {
        margin: 0;
        font-size: 3rem;
        font-weight: $font-weight-medium;
        line-height: 1.5;
    }

    .info-article-aside {
        width: 240px;
        margin: 0 0 20px 20px;
        padding: 0 4rem 0 2rem;
        float: right;
        border-left: 2px solid $gophillygo-green;
        color: $gray;
        font-size: 1.3rem;
        font-style: italic;
        line-height: 1.8;

        p {
            margin: 0 0 1em;
        }

        a {
            color: $gophillygo-orange;
        }

        @include respond-to('xs') {
            display: none;
        }
    }

    .info-article-section {
        padding: 0 4rem;

        @include respond-to('xxs') {
            padding: 0 1rem;
        }

        p {
            margin: 0 0 1em;
        }

        a {
            color: $gophillygo-orange;
        }

        strong {
            font-weight: $font-weight-bold;
        }

        iframe {
            max-width: 100%;
        }
    }

    .info-place-actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 30px;
        font-size: 1.6rem;
        font-weight: $font-weight-semibold;
        line-height: 2.4;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('xxs') {
            justify-content: space-between;
            font-size: 1.4rem;
            line-height: 2.6;
        }

        .place-action-go {
            @include delinkify($white);
            margin-right: 2.4rem;
            padding: 0 1em;
            background-color: $gophillygo-blue;
            cursor: pointer;

            @include respond-to('xxs') {
                margin-right: .4rem;
                padding: 0 .6em;
            }
        }

        .place-website-link {
            @include delinkify($white);
            margin-right: 2.4rem;
            padding: 0 1em;
            background-color: $gophillygo-purple;
            cursor: pointer;

            @include respond-to('xxs') {
                margin-right: 0;
                padding: 0 .6em;
            }
        }

        .place-awe-link {
            @include delinkify($white);
            height: 38px;
            background-color: $white;
            cursor: pointer;

            @include respond-to('xxs') {
                height: 36px;
                margin-left: .4rem;

                .image {
                    height: 36px;
                }
            }

        }
    }

    .summaries-list {
        h3 {
            margin: 40px 10px;
            font-size: 2rem;
            font-style: italic;
            text-align: center;
        }

        .more-link {
            line-height: 4;
            text-align: center;

            a {
                @include delinkify($white);
                background-color: $gophillygo-purple;
                padding: 1em 4em;
                font-style: italic;
                font-size: 1.5rem;
                font-weight: $font-weight-bold;
                line-height: 2.75;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;

            }
        }

    }

    .faq {
        padding-top: 4rem;

        /* Redesign prototype uses `dt` and `dd` but existing About page in database uses
         * `h3` and `p`, so applying the styles to both. */
        dt, h3 {
            color: $gophillygo-red;
            font-weight: $font-weight-bold;
            font-size: $font-size-base;
        }

        dd, p {
            margin: 1em 0 3em 0;
        }
    }

    .app-footer {
        flex: none;
        margin-top: auto;
    }
}
