.block {
    display: block;
    position: relative;
    overflow: hidden;

    &.block-destination {
        height: 360px;
        cursor: pointer;

        &.block-half {
            height: 172px;

            &:first-of-type {
                margin-bottom: 15px;
            }
        }

        h3 {
            bottom: 30px;
        }
        h5 {
            bottom: 20px;
        }
    }
    &.block-spotlight {
        height: 495px;

        h3 {
            bottom: 50px;
        }
        h5 {
            bottom: 35px;
        }
    }
    &.block-recent {
        height: 155px;
        margin-bottom: 15px;
        background: $light-gray;

        &:last-of-type {
            margin-bottom: 0;
        }

        h3 {
            bottom: 35px;
            margin-bottom: 0;
            font-size: 2.1rem;
        }
        h5 {
            top: 12px;
        }
    }

    img {
        width: 100%;
    }
    h3, h5, img {
        position: absolute;
        left: 0;
        z-index: 1;
    }
    h3, h5 {
        color: white;
        z-index: 2;
        left: 20px;
        right: 20px;
    }
    h5 {
        margin-bottom: 0;
    }
}