.tns-nav {
    bottom: -16px;
    margin-bottom: 4px;
    margin-top: 4px;

    text-align: center;

    button {
        width: 18px;
        height: 18px;
        margin: 0;
    }

    button {
        width: 18px;
        height: 18px;
    }

    button:before {
        font-size: 18px;
    }
}

.tns-nav > [aria-controls] {
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 0 4px;
  border-radius: 50%;
  background: #ccc;
  border: 0;
}
.tns-nav > .tns-nav-active { background: #666; }
