.directions-form-element {
    width: 100%;
    max-width: $home-main-max-width;
    margin: $home-section-margin auto;

    @include respond-to('xs') {
        margin-bottom: ($home-section-margin - 10px);
    }

    @include respond-to('xxs') {
        margin: ($home-section-margin - 10px) auto;
    }

    .body-map & {
        max-width: $sidebar-width;
        margin: 0;

        @include respond-to('xxs') {
            width: 100%;
            max-width: 100%;
        }
    }
}

.directions-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    max-width: $home-main-max-width;
    padding: 0 20px 10px;
    background-color: $gophillygo-blue;
    box-shadow: $place-card-drop-shadow;

    @include respond-to('xs') {
        padding: 0 10px;
    }

    @include respond-to('xxs') {
        padding: 0 10px;
    }

    .body-map & {
        width: $sidebar-width;
        max-width: $sidebar-width;
        height: $directions-form-sidebar-height;
        margin: 0;
        padding: 0 10px 10px;

        @include respond-to('xxs') {
            width: 100%;
            max-width: 100%;
        }
    }

    .mode-picker {
        display: flex;
        flex: 0 0 60px;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color: $mode-picker-text-color;
        font-size: 1.4rem;
        font-weight: $font-weight-medium;
        line-height: 3rem;
        text-transform: uppercase;

        @include respond-to('xxs') {
            justify-content: flex-end;
            margin-right: 5px;
        }

        .body-map & {
            flex-basis: 55px;
            justify-content: flex-end;
            margin-right: -10px;
            padding-top: 3px;

            .mode-label {
                display: none;
            }
        }

        i {
            font-size: 2.2rem;

            .body-map & {
                font-size: 2.5rem;
            }

            &::before {
                margin-right: .3em;
                margin-left: 0;
                line-height: 3rem;
            }

            &.icon-walk::before {
                margin-right: .2em;

                .body-map & {
                    margin-right: 0;
                }
            }

            &.icon-bike::before {
                vertical-align: middle;

                .body-map & {
                    margin-right: 0;
                }
            }

            &.icon-transit-on,
            &.icon-transit-off {

                &::before {
                    width: 1.5em;
                    vertical-align: middle;
                }
            }
        }
    }

    .mode-toggle {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-right: 80px;

        @include respond-to('xs') {
            margin-right: 60px;
        }

        @include respond-to('xxs') {
            margin-right: 30px;
        }

        .body-map & {
            margin-right: 40px;

            @include respond-to('xxs') {
                margin-right: 70px;
            }
        }

        .mode-option.on {
            border-bottom-color: $mode-picker-text-color;
        }

        .walk {
            margin-right: 20px;
        }

        .bike {
        }
    }

    .mode-option {
        padding-right: .25em;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        opacity: .5;

        .body-map & {
            padding-right: 0;
        }

        &.on {
            opacity: 1;
        }
    }

    .btn-options {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        margin-top: -5px;
        margin-left: 24px;
        padding-top: 3px;
        background-color: $gophillygo-blue-dark;
        cursor: pointer;

        i.icon-sliders {
            font-size: 1.8rem;
        }

        @include respond-to('xxs') {
            margin-left: 40px;
        }

        i::before {
            margin-right: 0;
        }

        .body-home & {
            display: none;
        }
    }

    .directions-text-input {
        display: flex;
        position: relative;
        flex: 0 0 40px;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-bottom: 15px;
        background-color: $directions-form-text-input-background-color;

        .body-map & {
            flex: 0 0 30px;
            margin-bottom: 0;
            border: 1px solid $white;
            background-color: $gophillygo-blue;

            &:after {
                position: absolute;
                width: 30px;
                height: 28px;
                background: linear-gradient(to right, rgba($gophillygo-blue,0) 0%,rgba($gophillygo-blue,1) 30%,rgba($gophillygo-blue,1) 100%);
                content: '';
                right: 0;
            }

            &.error {
                background-color: $gophillygo-red;

                &:after {
                    opacity: 0;
                }

                input[type=text], input[type=search] {
                    background-color: $gophillygo-red !important;
                }
            }

            &.directions-to {
                border-top-width: 0;
            }
        }

        .body-map-explore &.directions-to {
            display: none;
        }

        label {
            flex: 0 0 4em;
            padding-right: 1em;
            font-size: 1.4rem;
            font-weight: $font-weight-bold;
            line-height: 40px;
            text-align: right;
            cursor: text;

            .body-map & {
                font-size: 1.2rem;
                font-weight: $font-weight-medium;
                line-height: 30px;
                color: rgba(255, 255, 255, .9);
            }
        }

        input[type=text], input[type=search] {
            flex: 1 0 auto;
            border: 0;
            font-size: 1.4rem;
            background-color: transparent;

            .body-map & {
                color: $white !important;
                font-weight: $font-weight-medium;
                line-height: 30px;

                &.tt-hint {
                    color: rgba($white, .7) !important;
                }

                &::placeholder {
                    color: $white;
                }
            }

            &:focus {
                outline: none;
            }
        }

        .twitter-typeahead {
            display: flex !important;
            flex: 1;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: flex-start;
        }

        .tt-hint {
            width: 100%;
            height: 40px;
            line-height: 40px;
            color: rgba($font-color, .7);

            .body-map & {
                height: 30px;
                line-height: 30px;
                color: rgba($white, .7) !important;
            }
        }

        .tt-input {
            flex: 1 0 auto;

            .body-map & {
                background-color: $gophillygo-blue;
                color: $white !important;
                font-weight: $font-weight-medium;
                line-height: 30px;
            }
        }

        .tt-dropdown-menu {
            width: 100%;
            margin-left: -10px;
            background-color: $directions-form-text-input-background-color;
            font-size: 1.4rem;
            line-height: 1.25;

            .body-map & {
                width: $sidebar-width - 20px;
                margin-left: -5rem;
                font-size: 1.3rem;
                line-height: 2;
            }
        }

        .tt-suggestion {
            padding: .5rem 1em;
            color: $font-secondary-color;

            p {
                margin: 0;

                .body-map & {
                    text-overflow: ellipsis;
                    white-space: nowrap !important;
                    overflow: hidden;
                }
            }
        }

        .tt-highlight {
            font-weight: $font-weight-bold;
            color: $font-color;
        }

        .tt-cursor {
            background-color: $v-lt-gray;
        }

        .btn-geolocate {
            padding: 0 .3em;
            border: 0;
            background-color: inherit;
            font-size: 1.8rem;
            color: $lt-gray;
            cursor: pointer;

            .body-map & {
                display: none;
            }
        }

        .btn-reverse {
            display: none;
            position: absolute;
            top: -16px;
            right: -5px;
            width: 30px;
            height: 30px;
            padding: 0;
            border: 1px solid $white;
            border-radius: 100%;
            background-color: $gophillygo-blue;
            color: $white;
            font-size: 2rem;
            line-height: 20px;
            cursor: pointer;
            z-index: 10;

            .body-map & {
                display: block;
            }
        }

    }
}
