.directions-results {
    @include sidebar-main;
    position: relative;

    .body-home &,
    .body-map-explore &,
    .body-map.body-step-by-step & {
        display: none;
    }

    .hidden {
        display: none;
    }

    @include respond-to('xxs') {
        flex: 0 1 auto;
        order: 10;
        width: 100%;
        height: auto;
        background-color: darken($white, 5%);
        overflow: hidden;
        z-index: 1000;
        box-shadow: 0 0 16px rgba(128, 128, 128, 0.7);

        .routes-list {
            height: auto;

            &:empty {
                display: none;
            }
        }
    }

    h1 {
        margin: 2.2rem 0;
        padding: 0;
        font-size: 2rem;
        font-weight: $font-weight-bold;
        line-height: 1;
        text-align: center;

        @include respond-to('xxs') {
            &:not(.tour-name) {
                display: none;
            }
        }
    }

    .tours {
        .body-map & {
            @include sidebar-main-inner-scroll;
        }

        .tour-list {
            margin: 0;
            overflow: auto;

            @include respond-to('xxs-up') {
                padding: 0.8rem 1.2rem;
            }
        }

        .tour-heading {
            margin-bottom: 1.6rem;

            @include respond-to('xxs') {
                min-height: 80px;
                padding: 0.8rem 1.2rem;
                background-color: $white;
            }

            i {
                float: right;
                cursor: pointer;
            }

            .tour-label {
                color: $gophillygo-green;
                font-size: 1.2rem;
                text-transform: uppercase;
            }

            .tour-name {
                margin: 0.6rem 0;
                font-size: 1.8rem;
                font-weight: $font-weight-bold;
                text-align: left;
                text-transform: none;

                .tour-name-link {
                    @include delinkify();
                }
            }

            .swipe-hint {
                font-size: 1.3rem;
                font-style: italic;
                color: $lt-gray;

                @include respond-to('xxs-up') {
                    display: none;
                }
            }
        }

        .place-card {
            width: 100%;

            &.selected {
                background-color: $white;

                @include respond-to('xxs-up') {
                    box-shadow: $place-card-drop-shadow;
                }

                .place-card-action-directions {
                    color: $white;
                    background-color: $gophillygo-purple;
                    border-color: $gophillygo-purple;
                }
            }
        }
    }

    .route-summary, .tour-destination-summary {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
        padding: 6px 0 4px;
        background-color: rgba($white, .4);
        cursor: pointer;
        overflow: hidden;

        @include respond-to('xxs') {
            width: 100vw;
            margin: 0;
            background-color: $white;
        }

        &.selected {
            background-color: $white;

            @include respond-to('xxs-up') {
                box-shadow: $place-card-drop-shadow;
            }

            .route-name {
                color: $gophillygo-blue;
                font-weight: $font-weight-bold;
            }

            .route-stats {
                color: inherit;
            }

            .directions-step-walk {
                &::before {
                    color: $gophillygo-blue;
                }
            }

            .directions-step-transit {
                &::before {
                    color: $gophillygo-yellow;
                }
            }

            .directions-step-bike {
                &::before {
                    color: $gophillygo-purple;
                }
            }
        }

        .route-name {
            flex: 1 0 auto;
            margin-bottom: 4px;
            padding: 0 12px;
            color: lighten(desaturate($gophillygo-blue, 30%), 20%);
            font-size: 1.6rem;
            font-weight: $font-weight-medium;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            @include respond-to('xxs') {
                margin-right: 8rem;
            }
        }

        .route-details {
            display: flex;
            flex: 1 0 auto;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;
            padding: 0 12px;
            font-size: 1.5rem;
        }

        .route-stats {
            color: $lt-gray;
            text-align: left;
        }

        .route-single-mode {
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                width: 20px;
                margin: 0;
                padding: 0;
                color: inherit;
                font-family: gpg;
                font-size: 1em;
                text-align: left;
                content: '';
            }
        }

        .route-duration {
            font-weight: $font-weight-medium;
        }

        .route-distance {
            font-weight: $font-weight-medium;
        }

        .route-start-stop {
            color: $lt-gray;
            font-weight: $font-weight-medium;
            text-align: right;
        }

        .route-per-mode-details {
            display: flex;
            flex: 1 0 auto;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 4px;
            padding: 4px 12px 0;
            color: $lt-gray;
            font-size: 1.3rem;
            line-height: 2;
            border-top: 1px solid darken($white, 10%);
        }

        .route-mode-stats {
            position: relative;
            white-space: nowrap;

            &:not(:last-of-type) {
                margin-right: 1.8rem;
            }

            &::before {
                position: absolute;
                left: 0;
                width: 20px;
                margin: 0;
                padding: 0;
                color: inherit;
                font-family: gpg;
                font-size: 1.2em;
                line-height: 1.8;
                text-align: left;
                content: '';
            }
        }

        .directions-step-walk {
            padding-left: 19px;

            &::before {
                content: '\e803';
                color: desaturate($gophillygo-blue, 40%);
            }
        }

        .directions-step-transit {
            padding-left: 21px;

            &::before {
                content: '\f238';
                color: desaturate($gophillygo-yellow, 50%);
            }
        }

        .directions-step-bike {
            padding-left: 23px;

            &::before {
                content: '\e801';
                color: desaturate($gophillygo-purple, 40%);
            }
        }
    }
}
