.directions-results {
    @include sidebar-main;
    position: relative;

    .body-home &,
    .body-map-explore &,
    .body-map.body-step-by-step & {
        display: none;
    }

    .hidden {
        display: none;
    }

    @include respond-to('xxs') {
        flex: 0 1 auto;
        order: 10;
        width: 100%;
        height: auto;
        max-height: $route-summary-height;
        overflow: hidden;
        z-index: 1000;
        box-shadow: 0 0 16px rgba(128, 128, 128, 0.7);

        .routes-list {
            height: $route-summary-height;

            &:empty {
                display: none;
            }
        }
    }

    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: $font-weight-bold;
        line-height: 4;
        text-align: center;

        @include respond-to('xxs') {
            display: none;
        }
    }

    .route-summary {
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        height: $route-summary-height;
        margin-bottom: 20px;
        padding: 6px 10px 4px 16px;
        background-color: #f6f6f6;
        cursor: pointer;

        @include respond-to('xxs') {
            width: 100vw;
            margin: 0;
        }

        &.selected {
            background-color: $white;
            box-shadow: $place-card-drop-shadow;

            .route-name {
                color: $gophillygo-blue;
                font-weight: $font-weight-bold;
            }

            .route-summary-primary-details {
                color: inherit;
            }

            .route-summary-secondary-details {
                color: $lt-gray;
            }

            .route-modes {
                .icon-walk {
                    color: $gophillygo-blue;
                }

                .icon-bike {
                    color: $gophillygo-purple;
                }

                .icon-bus,
                .icon-subway,
                .icon-train,
                .icon-tram,
                .icon-ferry {
                    color: $gophillygo-yellow;
                }

                .icon-car {
                    color: #111;
                }
            }
        }

        .route-summary-details {
            display: flex;
            flex: 1 1 auto;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: flex-start;
            overflow: hidden;
        }

        .route-name {
            flex: 1 0 auto;
            color: $default-background-line-color;
            font-size: 1.6rem;
            font-weight: $font-weight-medium;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            @include respond-to('xxs') {
                margin-right: 8rem;
            }
        }

        .route-summary-primary-details {
            display: flex;
            flex: 1 0 auto;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            color: $lt-gray;
            font-size: 1.5rem;
            font-weight: $font-weight-medium;
        }

        .route-summary-secondary-details {
            display: flex;
            flex: 1 0 auto;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            color: $lt-gray;
            font-weight: $font-weight-medium;
            font-size: 1.4rem;
            font-family: gpg;
        }

        .route-duration {
            margin-right: 2em;
            font-weight: $font-weight-bold;
            font-family: gpg;
        }

        .route-distance {
            font-weight: $font-weight-medium;
        }

        .route-start-stop {
            font-size: 1.4rem;
        }

        .route-modes {
            font-size: 1.7rem;

            .icon-walk {
                position: relative;
                right: -3px;
            }
        }
    }
}
