footer {
    background: $gpg-red;
    padding: 30px 0;

    img {
        margin-bottom: 10px;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.4;
        color: white;
        width: 50%;
        margin: 0 auto;
    }
    ul.list-inline {
        a {
            font-size: 1.2rem;
            font-weight: 700;
            color: white;
        }
    }
}
