header {
    height: 50px;
    padding: 22px 25px;
    z-index: 99;
    position: absolute;
    width: 100%;

    a {
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        
        &:hover {
            opacity: 0.75;
            text-decoration: none;
            color: white;
        }
    }

    .small-header & {
        img { height: 40px; }
    }
}

.app .small-header {
    border-bottom: 1px solid #ccc;
    height: 70px;
    background: white;

    header {
        background: none;
        width: auto;
        padding: 15px;
        height: 70px;
    }
}