header {
    height: 50px;
    padding: 22px 25px;
    z-index: 99;
    position: absolute;
    width: 100%;

    a {
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        display: block;
        background: white;
        float: left;
        padding: 20px 17px 20px 23px;
        border-radius: 999px;
        transition: 0.5s all;

        &:hover {
            opacity: 0.75;
            text-decoration: none;
            color: white;
        }

        .print & {
            margin: 0 auto;
            float: none;
            width: 60px;
            padding: 0;
        }

        @media screen and #{$screen-xs} {
            width: 60px;
            padding: 11px 9px 10px 11px;
            height: 60px;
        }
    }

    .small-header & {
        img { height: 40px; }
    }
}

.app .small-header {
    height: 70px;
    position: fixed;
    z-index: 100;
    left: 0;
    width: 72px;

    header {
        background: none;
        width: auto;
        padding: 15px;
        height: 70px;

        a {
            padding: 0;
            border-radius: 0;
            float: none;
            background: none;
        }
    }
}
