.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 30000;

    .body-modal & {
        display: flex;
    }
}

.modal-panel {
    display: none;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: 240px;
    min-height: 360px;
    background-color: $white;
    box-shadow: $modal-panel-drop-shadow;

    .body-modal-share &.modal-share,
    .body-modal-options &.modal-options.visible {
        display: flex;
    }

    .secondary {
        display: none;
    }
}

.modal-header {
    display: flex;
    flex: 0 0 90px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: $white;
    text-transform: uppercase;

    .modal-header-contents {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .modal-sub-menu & {
        text-transform: none;
    }

    .modal-options & {
        background-color: $gophillygo-green;
    }

    .modal-share & {
        background-color: $gophillygo-blue;
    }

    [class^="icon-"], [class*=" icon-"] {
        margin-bottom: .25em;
        font-size: 2.5rem;
    }
}

.modal-footer {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 70px;
    align-items: stretch;
    justify-content: stretch;
    border-top: 1px solid $v-lt-gray;

    button {
        flex: 1 1 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background: none;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }
    }
}

.modal-contents {
    flex: 1;

    p {
        margin: 1.5em;
        line-height: 1.7;
        text-align: center;
    }

    a {
        @include delinkify;
        color: $gophillygo-blue !important;
        word-wrap: break-word;
        cursor: pointer;
    }
}

.modal-options-timing-tabs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        line-height: 2;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            border-bottom-color: $primary-nav-link-color;
            font-weight: $font-weight-bold;
        }
    }
}

.modal-options-timing-fields {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        height: 7rem;
        line-height: 5rem;
    }

    select {
        width: 50%;
    }

    .earlier-qtr-hour {
        display: none;
    }

    .current-time {
        display: flex;
    }

    &.not-today {
        .earlier-qtr-hour {
            display: flex;
        }
        .current-time {
            display: none;
        }
    }
}

.modal-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &.modal-list-narrow li {
        padding-left: 100px;
    }

    li {
        position: relative;
        height: 7rem;
        padding-right: 10px;
        padding-left: 50px;
        line-height: 7rem;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }

        &.selected {
            font-weight: $font-weight-bold;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 7rem;
            margin: 0;
            padding: 0;
            color: #5a5a5a;
            font-family: gpg;
            font-size: 2rem;
            line-height: 7rem;
            text-align: center;
            content: '';
        }

        &.selected::before {
            color: $gophillygo-green;
        }

        &.modal-list-choice.selected::before {
            content: '\e810';
        }

        &.modal-list-indego::before {
            font-size: 3rem;
            content: '\e80f';
        }

        &.modal-list-timing::before {
            content: '\e80e';
        }

        &.modal-list-ride::before {
            content: '\e80d';
        }

        &.modal-list-accessibility::before {
            content: '\f193';
        }

        &.modal-list-link::before {
            content: '\e80c';
        }

        &.modal-list-twitter::before {
            content: '\f099';
        }

        &.modal-list-facebook::before {
            content: '\f230';
        }

        &.modal-list-google::before {
            content: '\f0d5';
        }

        &.modal-list-email::before {
            content: '\f0e0';
        }
    }
}
