.ms-choice > div {
    background: url('/static/images/vendor/multiple-select.png') right top no-repeat;
}

.ms-choice > div.open {
    background: url('/static/images/vendor/multiple-select.png') left top no-repeat;
}

.ms-search input {
    background: #fff url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px;
    background: url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('/static/images/vendor/multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}
