
.nav-banner {
    position: relative;
    display: flex;
    flex: 0 0 $nav-alert-banner-height;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 1rem 1rem 1.2rem;
    text-align: center;

    &.hidden {
        visibility: hidden;
        flex: 0 0 0;
        padding: 0px;
        height: 0px;
    }

    .banner-body {
        display: flex;
        align-items: center;
    }

    .alert-title {
        margin-top: 0;
        margin-bottom: 0px;
        margin-right: 10px;
        position: relative;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    button {
        flex: 0 0 20px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background: none;
        text-align: center;
        cursor: pointer;
    }
}
