.places {
    @include sidebar-main;
    position: relative;

    @include respond-to('xxs') {
        width: 100%;
        max-width: 100%;
    }

    .body-map-directions & {
        display: none;
    }

    .body-map & .map-view-btn {
        display: none;
    }

    .body-home & {
        // Nesting the `sidebar-main` mixin inside a class makes the calculated height stop working,
        // so instead that's the default and we need to set some properties back to default values
        // for the home page view.
        flex: 1 0 auto;
        width: 100%;
        max-width: $home-main-max-width;
        height: auto;
        min-height: 400px;
        margin: 0 auto $home-section-margin;
        padding: 0 $home-section-padding 10px;
        background-color: $home-section-bg-color;
        overflow: visible;

        @include respond-to('xs') {
            max-width: $place-card-width + (2 * $home-section-padding);
            margin-bottom: $home-section-margin / 2;
        }

        @include respond-to('xxs') {
            background-color: inherit;
        }
    }

    .places-header {
        position: relative;
        background-color: $v-lt-blue;
        margin-left: -$home-section-padding;
        margin-right: -$home-section-padding;

        @include respond-to('xxs') {
            margin-left: 0;
            margin-right: 0;
        }

        .places-header-content {
            margin-left: $home-section-padding;
            margin-right: $home-section-padding;

            @include respond-to('xxs') {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .filter-picker {
            display: flex;
            flex: none;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            height: 60px;
            margin-bottom: 10px;
            padding-left: 10%;
            padding-right: 10%;
            color: $font-color;
            font-size: 1.6rem;
            font-weight: $font-weight-bold;
            line-height: 3rem;
            text-transform: capitalize;

            .body-home & {
                @include respond-to('xs') {
                    font-size: 1.3rem;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .body-map & {
                flex-basis: 55px;
                justify-content: space-between;
                font-size: 1.6rem;
                padding-left: 0;
                padding-right: 0;
            }

            .filter-label {
                margin-left: .16em;
            }

            i {
                font-size: 2.2rem;

                .body-home & {
                    @include respond-to('xxxs') {
                        font-size: 2.5rem;
                    }
                }

                &::before {
                    line-height: 3rem;
                }
            }
        }

        select {
            background-color: $gophillygo-blue;
            color: $white;
        }

        .filter-toggle {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            .body-home & {
                @include respond-to('xxs') {
                    margin-right: 16px;
                    margin-left: 16px;
                }

                margin-bottom: -$home-section-padding;
                width: 100%;
            }

            .body-map & {
                margin-right: 10px;
            }

            .filter-option.on {
                border-bottom-color: $gophillygo-blue;
            }
        }

        .filter-option {
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            cursor: pointer;
            opacity: .5;

            .body-map & {
                padding-right: 2px;
                padding-left: 2px;
            }

            .body-home & {
                @include respond-to('xxxs') {
                    padding-right: 2px;
                    padding-left: 2px;
                }
            }

            &.on {
                opacity: 1;
            }
        }
    }

    .places-content {
        &.hidden {
            display: none;
        }

        .body-map & {
            @include sidebar-main-inner-scroll;
        }
    }

    h1 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        line-height: 3;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('xs') {
            font-size: 2rem;
            line-height: 3;
        }

        .body-map & {
            font-size: 1.6rem;
            margin-left: 10px;
        }
    }

    .no-places {
        margin: 1em;
        color: $gray;
        font-size: 1.6rem;
        line-height: 1.7;
        text-align: center;
    }

    a.map-view-btn {
        @include delinkify($gophillygo-blue);
        display: block;
        position: absolute;
        top: 1.7rem;
        right: $home-section-padding;
        height: 4rem;
        padding-right: 2rem;
        padding-left: 4rem;
        border: 2px solid $gophillygo-blue;
        line-height: 3.8rem;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('xs') {
            display: none;
        }

        &:before {
            content: '\f279';
            position: absolute;
            height: 100%;
            left: 1rem;
            color: $gophillygo-blue;
            font-family: 'gpg';
        }

        &:hover {
            background-color: $gophillygo-blue;
            color: $white;

            &:before {
                color: $white;
            }
        }
    }

    .place-list {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        @include respond-to('xs') {
            flex-flow: column nowrap;
            align-items: center;
        }
    }
}
