.places {
    @include sidebar-main;
    position: relative;

    @include respond-to('xxs') {
        width: 100%;
        max-width: 100%;
    }

    .body-map-directions & {
        &:not(.tours) {
            display: none;
        }
    }

    .body-map & .map-view-btn {
        display: none;
    }

    .body-home & {
        // Nesting the `sidebar-main` mixin inside a class makes the calculated height stop working,
        // so instead that's the default and we need to set some properties back to default values
        // for the home page view.
        flex: 1 0 auto;
        width: 100%;
        max-width: $home-main-max-width;
        height: auto;
        min-height: 400px;
        margin: 0 auto $home-section-margin;
        padding: 0 $home-section-padding 10px;
        background-color: $home-section-bg-color;
        box-shadow: $layer-drop-shadow;
        overflow: visible;

        @include respond-to('xs') {
            max-width: $place-card-width + (2 * $home-section-padding);
            margin-bottom: $home-section-margin / 2;
        }

        @include respond-to('xxs') {
            background-color: inherit;
            box-shadow: initial;
        }
    }

    .places-header {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-right: -$home-section-padding;
        margin-left: -$home-section-padding;
        padding-right: $home-section-padding;
        padding-left: $home-section-padding;

        @include respond-to('xxs') {
            margin-left: 0;
            margin-right: 0;
        }

        .body-home & {
            margin-bottom: 20px;
            background-color: $primary-nav-bg-color;

            @include respond-to('xxs') {
                background-color: initial;
            }
        }

        .body-map & {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: $place-card-width;
            margin: 0 auto;
            padding: .8rem 0;
        }

        // Override categories dropdown arrow color
        .custom-select::after {
            right: .8rem;
            border-top-color: $white;
        }
    }

    .filter-toggle {

        &.filter-toggle-tabs {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            .filter-option {
                margin: 0 1.6rem;
                padding: .8rem .4rem;
                border-bottom: 4px solid transparent;
                color: $font-secondary-color;
                font-weight: $font-weight-semibold;
                cursor: pointer;

                &:hover {
                    color: $font-color;
                }

                &.on {
                    border-bottom-color: $gophillygo-blue;
                    color: $font-color;
                    font-weight: $font-weight-bold;
                }

                @include respond-to('xs') {
                    margin: 0 .4rem;
                    padding: .6rem .2rem;
                    font-size: 1.4rem;
                }
            }

            .filter-divider {
                width: 0;
                height: 2.4rem;
                margin: 0 1.6rem 0.4rem 1.6rem;
                border-color: $body-color;
                border-style: solid;
                border-width: 0 1px;

                @include respond-to('xs') {
                    margin: 0 .4rem;
                    border-color: $v-lt-gray;
                }
            }
        }

        &.filter-toggle-dropdown {
            width: 12rem;
            min-height: 3.2rem;
            padding: 0 1rem;
            border: 0;
            border-radius: 1px;
            background-color: $gophillygo-blue;
            color: $white;
            line-height: 3.2rem;

            .filter-option {
                min-height: 3.2rem;
            }
        }
    }

    .places-content {
        &.hidden {
            display: none;
        }

        .body-map & {
            @include sidebar-main-inner-scroll;
        }
    }

    h1 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        line-height: 3;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('xs') {
            font-size: 2rem;
            line-height: 3;
        }

        .body-map & {
            font-size: 1.6rem;
            text-align: left;
        }
    }

    .no-places {
        margin: 1em;
        color: $gray;
        font-size: 1.6rem;
        line-height: 1.7;
        text-align: center;
    }

    a.map-view-btn {
        @include delinkify($gophillygo-blue);
        display: block;
        position: absolute;
        top: 1.7rem;
        right: $home-section-padding;
        height: 4rem;
        padding-right: 2rem;
        padding-left: 4rem;
        border: 2px solid $gophillygo-blue;
        line-height: 3.8rem;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('xs') {
            display: none;
        }

        &:before {
            content: '\f279';
            position: absolute;
            height: 100%;
            left: 1rem;
            color: $gophillygo-blue;
            font-family: 'gpg';
        }

        &:hover {
            background-color: $gophillygo-blue;
            color: $white;

            &:before {
                color: $white;
            }
        }
    }

    .place-list {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        @include respond-to('xs') {
            flex-flow: column nowrap;
            align-items: center;

            // Hide events and tours completely from mobile "All" filter
            &[data-filter="All"] {
                & .event-card, & .tour-card {
                    display: none;
                }
            }
        }
    }
}
