.place-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: $place-card-width;
    margin: 0 0 20px;
    padding: 0 16px 14px;
    background-color: $place-card-bg-color;
    box-shadow: $place-card-drop-shadow;

    .body-map & {
        margin-right: auto;
        margin-left: auto;

        .place-card-photo-container {
            background-color: $white;
        }
    }
}

.place-card-photo-container,
.place-card-carousel-container {
    margin-right: -16px;
    margin-left: -16px;
}

.place-card-photo {
    display: block;
    width: 100%;
}

.place-card-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-around;
    min-height: 5.6rem;
    padding: .6rem 0 .7rem;
}

.place-card-meta {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-weight-medium;
    line-height: 1.0rem;

    .place-card.no-origin.destination-card & {
        display: none;
    }

    .travel-logistics {
        margin-right: 1em;
        color: $gophillygo-green;
        font-size: 1.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .place-card.no-origin & {
            display: none;
        }
    }

    .travel-logistics-distance {
        font-weight: $font-weight-bold;
        line-height: 1.4rem;
    }

    .tour-label {
        display: none;
        color: $gophillygo-green;
        font-size: 1.1rem;
        text-transform: uppercase;

        .place-card.no-origin.tour-card & {
            display: block;
        }
    }

    .event-label {
        display: none;
        color: $gophillygo-green;
        font-size: 1.1rem;
        text-transform: uppercase;

        .place-card.no-origin.event-card & {
            display: block;
        }
    }

    .event-date-time {
        display: none;
        flex: none;
        color: $font-color;
        font-size: 1.1rem;
        font-weight: $font-weight-semibold;
        text-align: right;
        text-transform: uppercase;
        white-space: nowrap;

        .place-card.event-card & {
            display: block;
        }
    }
}

.place-card-name {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    line-height: 1.5;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.place-card-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.place-card-actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.place-card-action {
    @include delinkify;
    width: 90px;
    margin-right: 20px;
    border: 1px solid $gophillygo-blue;
    font-size: 1.2rem;
    font-weight: $font-weight-semibold;
    line-height: 2.75;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &.place-action-go {
        background-color: $gophillygo-blue;
        color: $white;
    }

    &.place-action-details {
        background-color: transparent;
    }
}

.place-card-badges {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.8rem;
    line-height: 1;

    .badge {
        margin-left: .8rem;
    }
}

.place-card .tns-outer {
    position: relative;
}

.place-card .tns-nav {
    display: none;
}

.place-card.no-origin .tns-nav {
    display: block;
    position: absolute;
    top: 100%;
    bottom: initial;
    margin-top: -1px;
    width: 100%;
}

.place-card-compact {
    display: block;
    width: auto;
    height: 8rem;
    padding: 0;
    overflow: auto;

    .place-card-link {
        @include delinkify();
    }

    .place-card-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        height: 100%;
        padding: 0 1.2rem 0 0;
    }

    .place-card-photo-container {
        height: 8rem;
        width: 8rem;
        margin-right: 1.2rem;
        margin-left: 0;
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex: none;
    }

    .place-card-photo {
        width: auto;
        height: 100%;
    }

    .place-card-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        flex: auto;
        padding: 0.6rem 0;
        overflow: hidden;
    }

    .place-card-name {
        white-space: normal;

        &.oneline {
            white-space: nowrap;
        }
    }

    .place-card-badges {
    }

    .place-card-actions {
        justify-content: space-between;
        margin-bottom: 0.4rem;
    }

    .place-card-action {
        flex: auto;
        line-height: 2;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
