.search {
    background: rgba(0,0,0,0.6);
    margin: 0;
    height: 100px;
    padding: 20px 0;

    span.text {
        color: white;
        display: inline-block;
        padding: 17px 0;
    }
    span.twitter-typeahead {
        vertical-align: top;
    }
    input:not([type="checkbox"]) {
        background: #444;
        border: none;
        color: white;
        padding: 17px 14px;
        margin: 0 15px;
        height: 60px;
        border-radius: 9px;

        &::-webkit-input-placeholder {
            color: white;
            opacity: 0.75;
            font-style: italic;
        }
        &:-moz-placeholder,
        &::-moz-placeholder
        &:-ms-input-placeholder {
            color: white;
        }

        &[type="number"] {
            width: 70px;
        }
        &[type="text"] {
            width: 260px;
        }
    }
    button[type="submit"] {
        border: none;
        background: none;
        color: white;
        font-size: 4.2rem;
        font-weight: 300;
        display: inline-block;
        padding: 0 16px 10px;
        vertical-align: top;
    }
}