.search {
    background: $gpg-red;
    margin: 0;
    height: 70px;
    padding: 0;

    span.text {
        color: white;
        display: inline-block;
        padding: 22px 0;
        font-size: 18px;
        vertical-align: middle;
    }
    span.twitter-typeahead {
        vertical-align: middle;
        margin: 0 15px;

        &::-webkit-input-placeholder {
            color: gray;
            opacity: 0.75;
            font-style: italic;
        }
        &:-moz-placeholder,
        &::-moz-placeholder
        &:-ms-input-placeholder {
            color: gray;
        }

        focus::-webkit-input-placeholder { color:transparent; }
        focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
        focus::-moz-placeholder { color:transparent; } /* FF 19+ */
        focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

        .tt-hint {
            color: #999;
        }
    }
    input[type="number"] {
        margin: 0 15px;
    }
    input:not([type="checkbox"]) {
        background: white;
        border: none;
        padding: 17px 14px;
        height: 60px;
        border-radius: 9px;
        vertical-align: middle;

        &[type="number"] {
            width: 70px;
        }
        &[type="text"]:not(.form-control) {
            width: 260px;
        }
        &.error {
            background: rgb(253, 239, 239) !important;
            color: #D02D2D;
        }
    }
    .transit-types-container {
        display: inline-block;
        margin: 0 0 0 15px;
        height: 70px;
        padding: 7px 0;
        vertical-align: middle;

        .btn-transit {
            font-size: 21px;
            background: transparent;
            border: 2px solid white;
            color: white;
            padding: 10px 15px;
            border-radius: 99px;
            box-shadow: none;

            .md { opacity: 0.5; }

            &.active {
                background: white;
                color: $gpg-red;

                .md { opacity: 1; }
            }
        }
    }
    button[type="submit"] {
        border: none;
        background: none;
        color: white;
        font-size: 4.2rem;
        font-weight: 300;
        display: inline-block;
        padding: 10px 16px;
        vertical-align: middle;
        height: 70px;
        line-height: 16px;
    }
}
