.explore {
    position: absolute;
    width: 100%;
    top: 32px;
    bottom: 0;

    &.show-results {
        .sidebar-clip {
            height: 100%;
        }
    }
    .sidebar-search {
        height: 44px;

        input[type="search"] {
            padding-right: 30px;
        }
        button {
            border: none;
            background: none;
            position: absolute;
            right: 0;
            top: 0;
            padding: 11px 14px;
        }
    }
    .sidebar-options {
        height: auto;
        padding: 10px 14px 0;

        .address {
            height: 60px;
            padding: 5px 15px 15px;
            margin: 0 -15px;
            border-bottom: 1px solid #DDD;

            h4 {
                margin: 0;
                float: left;
                width: 260px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;

                small {
                    display: block;
                    margin-top: 4px;
                }
            }
            a {
                float: right;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                border-left: 1px solid $light-gray;
                padding-left: 15px;
                width: 78px;
                margin-top: 1px;

                span {
                    display: block;
                    font-size: 1.8rem;
                    margin-bottom: 4px;
                }
            }
        }
        .options {
            height: 44px;
            background: $light-gray;
            margin: 0 -14px;

            span.text {
                color: #999;
                padding: 11px 0;
            }
            input:not([type="checkbox"]) {
                background: darken($light-gray, 5%);
                border: none;
                color: black;
                padding: 10px 14px;
                margin: 0 15px 0 12px;
                height: 44px;
                vertical-align: top;

                &::-webkit-input-placeholder {
                    color: gray;
                }
                &:-moz-placeholder,
                &::-moz-placeholder
                &:-ms-input-placeholder {
                    color: gray;
                }

                &[type="number"] {
                    width: 70px;
                }
            }
            .ms-parent {
                margin: 0 12px 0 15px;

                button {
                    background: darken($light-gray, 5%);
                    color: black;
                    padding: 11px 14px;
                    height: 44px;
                }
            }
        }
        .more-options {
            max-height: 0;
            overflow: hidden;
            transition: $transition;
            padding: 0;

            &.active {
                max-height: 500px;
                padding: 10px 0;
            }
        }
    }
    .sidebar-details {
        overflow: hidden;
        padding: 0 15px;
        position: relative;
        width: 100%;
        max-height: 400px;
        height: 100%;

        .destinations {
            overflow-y: auto;
            height: 100%;
            left: 15px;
            padding-right: 15px;
            right: 0px;
            position: absolute;
            top: 0;
            bottom: 0;
        }
        .block-destination {
            height: 175px;
            margin-bottom: 15px;

            &:first-of-type {
                margin-top: 15px;
            }
        }
        .view-more {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 5;
        }
    }

    a.view-more {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 -15px;
        padding: 8px 15px;
        border-top: 1px solid #DDD;
        background: white;
        cursor: pointer;
    }
}
