.directions {
    position: absolute;
    width: 100%;
    top: 40px;

    .tt-hint {
        padding: 16px;
    }

    &.show-results {
        .sidebar-clip {
            height: 100%;
        }
    }

    .sidebar-search {
        padding: 0;

        input[type="search"] {
            width: 100%;
        }

        span.twitter-typeahead {
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid #DDD;

            &:last-of-type {
                border: none;
            }
        }
        button[type="submit"] {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            height: 40px;
            width: 40px;
            right: 15px;
            border: none;
            background: white;
            padding: 5px 6px;
        }
    }
    .sidebar-options {
        height: auto;
        padding: 0 14px;

        .address {
            height: 60px;
            padding: 5px 15px 15px;
            margin: 0 -15px;
            border-bottom: 1px solid #DDD;

            h4 {
                margin: 0;
                float: left;
                width: 260px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;

                small {
                    display: block;
                    margin-top: 4px;
                }
            }
            a {
                float: right;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                border-left: 1px solid $light-gray;
                padding-left: 15px;
                width: 78px;
                margin-top: 1px;

                span {
                    display: block;
                    font-size: 1.8rem;
                    margin-bottom: 4px;
                }
            }
        }
        .options {
            height: 124px;
            background: $light-gray;
            margin: 0 -14px;
            padding: 0;

            .date {
            }

            span.text {
                color: #999;
                padding: 11px 0;
            }
            input:not([type="checkbox"]) {
                background: darken($light-gray, 5%);
                border: none;
                color: black;
                padding: 10px 14px;
                margin: 0 15px 0 12px;
                height: 44px;
                vertical-align: top;

                &::-webkit-input-placeholder {
                    color: gray;
                }
                &:-moz-placeholder,
                &::-moz-placeholder
                &:-ms-input-placeholder {
                    color: gray;
                }

                &.form-control {
                    padding: 10px 0px;
                    margin: 0 15px 0 0;
                }

                &[type="number"] {
                    width: 70px;
                }
            }
            .ms-parent {
                margin: 0 12px 0 15px;

                button {
                    background: darken($light-gray, 5%);
                    color: black;
                    padding: 11px 14px;
                    height: 44px;
                }
            }
        }
        .more-options {
            max-height: 0;
            overflow: hidden;
            transition: $transition;
            padding: 0;

            &.active {
                max-height: 500px;
                padding: 10px 0;
                overflow: visible;
            }
        }
    }
    .sidebar-details {
        overflow-y: auto;
        padding: 0 15px;
        position: relative;
        width: 100%;
        max-height: 250px;
        height: 100%;

        .itineraries {
            overflow-y: auto;
            height: 100%;
            left: 15px;
            padding-right: 15px;
            right: 0px;
            top: 0;
            bottom: 0;
        }
        .directions-list {
            overflow-y: auto;
            height: 100%;
            left: 15px;
            padding-right: 15px;
            right: 0px;
            top: 0;
            bottom: 0;
        }
        .block-itinerary {
            height: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            padding-top: 10px;
            border-top-style: solid;

            &:first-of-type {
                margin-top: 15px;
                border-top-style: none;
            }
        }
        .block-leg {
            height: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            padding-top: 10px;
            border-top-style: solid;
        }

        .sk-spinner {
            height: 80px;
            padding-top: 20px;
            overflow-y: auto;
        }
        .view-more {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 5;
        }
    }

    a.view-more {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 -15px;
        padding: 8px 15px;
        border-top: 1px solid #DDD;
        background: white;
        cursor: pointer;
    }

    .back, .share, .itinerary {
        cursor: pointer;
    }
}
