.sidebar {
    z-index: 5;
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eee;
    overflow-x: hidden;

    .tt-hint {
        color: #999;
    }
    .sidebar-tabs {
        .btn {
            border-radius: 0;
            padding: 16px 14px;
            color: #AAA;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            outline: none;

            &:hover {
                color: #333;
            }

            &.active {
                color: #337AB7;
                font-weight: bold;
            }
        }
    }
    .sidebar-block {
        background: white;
        margin-bottom: 10px;
        padding: 10px 14px;
        position: relative;
        margin-left: 10px !important;
        margin-right: 10px !important;
        border-top: 5px solid #eee;
        &:last-of-type {
            margin: 0;
        }
    }
}

.transit-types-container {
    display: inline-block;
    margin-left: 0;
    height: 45px;
    vertical-align: middle;
    padding-top: 7px;
}

.btn-transit {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-options {
    .input-string-right-margin {
        margin-right: 5px !important;
    }

    .input-string-left-margin {
        margin-left: 5px !important;
    }
}

.dropdown-toggle-text {
    background: #e4e6e6;
    border: none;
    color: black;
    padding: 10px 14px;
    height: 44px;
    vertical-align: top;
    font-size: 16px;
    border-radius: 9px;
}

.input-datetimepicker {
    width: 200px !important;
    margin: 0 !important;
}
