.sidebar {
    z-index: 5;
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eee;
    overflow-x: hidden;

    @media screen and #{$screen-xs} {
        width: 100%;
    }

    .tt-hint {
        color: #999;
    }
    .sidebar-tabs {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        z-index: 99;
        height: 70px;
        text-align: right;
        background: white;
        border-bottom: 1px solid #ccc;

        .btn {
            border-radius: 0;
            color: #AAA;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
            padding: 24px 14px;
            margin: 0;
            font-weight: 700;

            &:hover {
                color: #333;
            }

            &.active {
                color: #337AB7;
                background: #f1f2f2;
            }
        }
    }
    .sidebar-block {
        background: white;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 10px 14px;
        position: relative;
        margin-left: 10px !important;
        margin-right: 10px !important;
        box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    }

    .transit-types-container {
        display: inline-block;
        margin-left: 0;
        height: 45px;
        vertical-align: middle;
        padding-top: 5px;

        .btn-transit {
            font-size: 16px;
            line-height: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding: 9px 9px;
            height: 36px;
        }
    }
}

.sidebar-options {
    .input-string-right-margin {
        margin-right: 5px !important;
    }

    .input-string-left-margin {
        margin-left: 5px !important;
    }
}

.dropdown-toggle-text {
    background: #e4e6e6;
    border: none;
    color: black;
    padding: 10px 14px;
    height: 44px;
    vertical-align: top;
    font-size: 16px;
    border-radius: 9px;
}

.input-datetimepicker {
    width: 100%;
}
