.explore {
    position: absolute;
    width: 100%;
    top: 78px;
    bottom: 0;

    .locate-icon {
        right: 45px;
        top: 21px;
    }

    &.show-results {
        .sidebar-clip {
            //height: 100%;
        }
    }
    .sidebar-search {
        height: 55px;
        padding: 0;

        span.twitter-typeahead {
            width: 100%;
            height: 55px;
        }
        input[type="search"] {
            padding: 0px 45px 0px 16px;
            width: 100%;
            height: 55px;
        }
        button {
            border: none;
            background: none;
            position: absolute;
            right: 0;
            top: 0;
            padding: 18px;
            color: #ccc;

            &:hover {
                color: #000;
            }
        }
    }
    .sidebar-options {
        height: auto;
        padding: 10px 14px 0;
        background: white;

        .address {
            display: none;
            height: 60px;
            padding: 5px 15px 15px;
            margin: 0 -15px;
            border-bottom: 1px solid #DDD;

            h4 {
                margin: 0;
                float: left;
                width: 260px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;

                small {
                    display: block;
                    margin-top: 4px;
                }
            }
            a {
                float: right;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                border-left: 1px solid $light-gray;
                padding-left: 15px;
                width: 78px;
                margin-top: 1px;

                span {
                    display: block;
                    font-size: 1.8rem;
                    margin-bottom: 4px;
                }
            }
        }
        .options {
            height: auto;
            background: $gpg-red;
            padding: 14px 14px;
            margin: -10px -14px 0;

            .date {
            }

            span.text {
                color: white;
                padding: 11px 8px;
                font-size: 16px;

                @media screen and #{$screen-xs} {
                    font-size: 14px;
                }
            }
            input:not([type="checkbox"]) {
                background: white;
                border: none;
                color: black;
                padding: 10px 14px;
                margin: 0;
                height: 38px;
                vertical-align: top;

                &::-webkit-input-placeholder {
                    color: gray;
                }
                &:-moz-placeholder,
                &::-moz-placeholder
                &:-ms-input-placeholder {
                    color: gray;
                }

                &.form-control {
                    padding: 10px 0px;
                    margin: 0 15px 0 0;
                }

                &[type="number"] {
                    width: 70px;
                    vertical-align: middle;

                    @media screen and #{$screen-xs} {
                        width: 50px;
                        padding-right: 0;
                    }
                }
            }
            .ms-parent {
                margin: 0 12px 0 15px;

                button {
                    background: darken($light-gray, 5%);
                    color: black;
                    padding: 11px 14px;
                    height: 44px;
                }
            }
        }
        .more-options {
            max-height: 0;
            overflow: hidden;
            transition: $transition;
            padding: 0;

            &.active {
                max-height: 500px;
                padding: 10px 0;
                overflow: visible;
            }

            input[type="checkbox"] {
                margin-top: 10px;
            }
        }
    }
    .sidebar-details {
        padding: 0;
        position: relative;
        transition: height 1s;
        background: none;
        box-shadow: none;
        margin: 0;

        a {
            cursor: pointer;
        }

        .destinations {
            height: 100%;

            .alert-container {
                padding-top: 5px;
            }

            .alert-container:empty {
                padding-top: 0px;
            }
        }
        .block-detail {
            background: white;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
            margin-bottom: 10px;
        }
        .block-destination:not(.sk-spinner) {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
            position: relative;
            min-height: 160px;
            height: auto;
            text-decoration: none;
            transition: 0.5s all;
            margin-bottom: 10px;
            overflow: hidden;

            &:after {
                opacity: 0.15;
                content: '';
                position: absolute;
                background: black;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
                transition: 0.5s all;
            }
            &:hover {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
            }
            &:hover:after {
                opacity: 0.05;
            }
            &:first-of-type {
                margin-top: 20px;
            }

            h3 { 
                margin: 30px 30px 0;
                font-size: 21px;
                bottom: auto;
                top: auto;
                position: relative;
                width: auto;
                left: auto;
                right: auto;

                @media screen and #{$screen-xs} {
                    font-size: 18px;
                }
            }
            h5 {
                bottom: auto;
                font-size: 1.6rem;
                font-weight: 300;
                height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                margin: 10px 30px 30px;
            }
            img {
                height: 100%;
                width: auto;
            }
        }
        .sk-spinner {
            height: 80px;
            padding-top: 20px;
            overflow-y: auto;
            box-shadow: none !important;
        }
        .view-more {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 5;
        }
    }

    a.view-more {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 -13px;
        padding: 8px 15px;
        border-top: 1px solid #DDD;
        background: white;
        cursor: pointer;
    }
}

.mobile-unavailable {
    font-style: italic;
    font-weight: 500;
    color: lighten($gpg-red, 10%);
}

.explore-block {
    padding-bottom: 10px;
}
