.trip-numbers {
    margin-bottom: 6px;
    float: right;
    line-height: 1.2;
}
.trip-duration {
    font-size: 18px;
    font-weight: bold;
}
.trip-distance {
    font-size: 12px;
    color: #337AB7;
}

.trip-details {
    overflow: auto;
}

.direction-section {
    font-size: 16px;
}

.direction-arrive {
    border-top: 2px solid #bbb;
    font-size: 16px;
    padding: 15px 0 20px;
}

.direction-depart {
    border-bottom: 2px solid #bbb;
    font-size: 16px;
    padding: 15px 0 20px;
}

.direction-text {
    padding-right: 8px;
}

.direction-icon {
    @extend .direction-text;
    vertical-align: top;
}

.directions-header-divider {
    opacity: .5;
}

.trip-details .short-description {
    font-size: 16px;
}

.directions-header {
    overflow: visible;
    background-color: #333;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    a {
        color: #fff;
        &:hover {
            color: #aaa;
        }
    }

    .dropdown-menu {
        min-width: 0;
    }
}

.block-step.direction-item {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    color: #999;
    &:last-child {
        border-bottom: 0;
    }
}

.directions {
    position: absolute;
    width: 100%;
    top: 78px;
    bottom: 0;

    .tt-hint {
        padding: 16px;
    }

    &.show-results {
        .sidebar-clip {
            //height: 100%;
        }
    }

    .input-datetimepicker {
        width: auto;
        display: inline-block;
        vertical-align: middle;
    }

    .sidebar-search {
        padding: 0 50px 0 0;

        input[type="search"] {
            width: 100%;
        }

        span.twitter-typeahead {
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid #DDD;

            &:last-of-type {
                border: none;
            }
        }
        button[type="submit"] {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            height: 40px;
            width: 40px;
            right: 5px;
            border: none;
            background: transparent;
            padding: 5px 6px 4px;
            color: #ccc;
            border-radius: 99px;

            &:hover {
                color: #333;
                background: $light-gray;
            }
        }
    }
    .sidebar-options {
        height: auto;
        padding-bottom: 0;

        .address {
            height: 60px;
            padding: 5px 15px 15px;
            margin: 0 -15px;
            border-bottom: 1px solid #DDD;

            h4 {
                margin: 0;
                float: left;
                width: 260px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;

                small {
                    display: block;
                    margin-top: 4px;
                }
            }
            a {
                float: right;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                border-left: 1px solid $light-gray;
                padding-left: 15px;
                width: 78px;
                margin-top: 1px;

                span {
                    display: block;
                    font-size: 1.8rem;
                    margin-bottom: 4px;
                }
            }
        }
        .options {
            height: auto;
            background: $gpg-red;
            padding: 10px;
            margin: -10px -14px 0;

            .date {
            }

            span.text {
                color: white;
                padding: 11px 0;
            }
            input:not([type="checkbox"]) {
                background: darken($light-gray, 5%);
                border: none;
                color: black;
                padding: 10px 14px;
                margin: 0 15px 0 12px;
                height: 44px;
                vertical-align: top;

                &::-webkit-input-placeholder {
                    color: gray;
                }
                &:-moz-placeholder,
                &::-moz-placeholder
                &:-ms-input-placeholder {
                    color: gray;
                }

                &.form-control {
                    padding: 10px 0px;
                    margin: 0 15px 0 0;
                }

                &[type="number"] {
                    width: 70px;
                }
            }
            .ms-parent {
                margin: 0 12px 0 15px;

                button {
                    background: darken($light-gray, 5%);
                    color: black;
                    padding: 11px 14px;
                    height: 44px;
                }
            }
        }
        .more-options {
            max-height: 0;
            overflow: hidden;
            transition: $transition;
            padding: 0;

            &.active {
                max-height: 500px;
                padding: 10px 0;
                overflow: visible;
            }
            input[type="checkbox"] {
                margin-top: 10px;
            }
        }
    }
    .sidebar-details {
        padding: 0 15px;
        position: relative;
        height: 100%;

        .directions-list {
            height: 100%;
            left: 15px;
            right: 0px;
            top: 0;
            bottom: 0;
        }
        .block-itinerary {
            height: auto;
            margin: 0 -15px;
            padding: 20px;
            cursor: pointer;
            border-bottom: #bbb solid 1px;
            &:last-of-type {
                border-bottom: 0;
            }
        }
        .block-leg {
            height: auto;
            margin-bottom: 10px;
            margin-top: 15px;
            padding-top: 15px;
            width: 100%;
            border-top: 1px solid #bbb;
            &:first-child {
                border-top: 0;
            }
        }

        .sk-spinner {
            height: 80px;
            padding-top: 20px;
            overflow-y: auto;
        }
        .view-more {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 5;
        }
    }

    a.view-more {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 -15px;
        padding: 8px 15px;
        border-top: 1px solid #DDD;
        background: white;
        cursor: pointer;
    }

    .back, .share, .itinerary {
        cursor: pointer;
    }
}
