.sidebar {
    z-index: 5;
    position: absolute;
    width: 380px;
    top: 75px;
    left: 35px;

    .sidebar-tabs {
        .btn {
            border-radius: 0;
            padding: 8px 14px 12px;
            color: #AAA;
            background: #F1F1F2;
            box-shadow: 0 0 8px rgba(0,0,0,0.25);

            &:hover {
                background: white;
            }
            &.active {
                color: #27A9E1;
                background: white;
            }
        }
    }
    .sidebar-block {
        background: white;
        margin-bottom: 10px;
        padding: 10px 14px;
        position: relative;
        box-shadow: 0 2px 12px rgba(0,0,0,0.15);

        &:last-of-type {
            margin: 0;
        }
    }
}
