.slick-dots {
    bottom: -16px;

    li {
        width: 18px;
        height: 18px;
        margin: 0;
    }

    li button {
        width: 18px;
        height: 18px;
    }

    li button:before {
        font-size: 18px;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 14px;
}
