{% extends "cac_tripplanner/base_cac_tripplanner.html" %}
{% block content %}
<main>
  <div class="container-fluid scroll">
    <div class="greeting row">
      <h4>Open Transit App</h4>
      <h1 style="text-align:center">Helping you find new spots in Philadelphia on foot, bike, and public transit.</h1>
    </div>
    <nav class="navbar">
      <ul class="nav nav-justified">
        <li class="nav"><span>Where can I go within</span></li>
        <li><a class="btn">20</a></li>
        <li><span>minutes of</span></li>
        <li><a class="btn">City Hall</a></li>
        <li><span>using</span></li>
        <li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        <li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
      </ul>
    </nav>
    <div class="pane row">
      <div class="majorcol-xs-4 col-md-4">
        <h4>Name of destination</h4>
        <p>Neighborhood name</p>
      </div>
      <div class="major col-xs-4 col-md-4">
        <h4>Name of destination</h4>
        <p>Neighborhood name</p>
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="minor row">
        <h4>Name of destination</h4>
        <p>Neighborhood name</p>
        </div>
        <div class="minor row">
        <h4>Name of destination</h4>
        <p>Neighborhood name</p>
        </div>
      </div>
    </div>
    <div class="pane row">
      <div class="spotlight col-xs-8 col-md-8">
        <h4>Community Spotlight</h4>
        <div class="major col-xs-6 col-md-6">
          <h4>Getting to my next gig</h4>
          <p>Community Profile</p>
        </div>
        <div class="major col-xs-6 col-md-6">
          <h4>Using bus bike racks</h4>
          <p>Tips & Tricks</p>
        </div>
      </div>
      <div class="recent col-xs-4 col-md-4">
        <div class="minor row">
          <span>20 minutes via<span class="glyphicon glyphicon-shopping-cart"></span></span>
        </div>
        <div class="minor row">
          <span>20 minutes via<span class="glyphicon glyphicon-shopping-cart"></span></span>
        </div>
        <div class="minor row">
          <span>20 minutes via<span class="glyphicon glyphicon-shopping-cart"></span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="">
      <div class="row">
        <h4>Open Transit App</h4>
        <a href="/about/tou">Terms of Use</a>
        <a href="/about/data">Data Policy</a>
        <a href="/about/privacy">Privacy Policy</a>
      </div>
      <div class="row">
        <span>The <b>Open Transit App</b> is a project by the <a href="">William Penn Foundation</a>, <a href="">Clean Air Council</a>, <a href="">Philadelphia Bicycle Coalition</a>, and <a href="">Azavea</a></span>
      </div>
    </div>
  </div>
</main>
{% endblock %}
