*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
artifacts/
violations.txt
.tox
nosetests.xml
.noseids

# vagrant
.vagrant

# sass
.sass-cache

# Editor crap
*.swp
*.swo
*~
~*

# OS X crap
.DS_Store

# ignore logs
*.log

# Ansible roles
deployment/ansible/roles/azavea.*

# AWS stack launching parameters
deployment/default.yaml
