$gophillygo-blue: #2e68a3;
$gophillygo-green: #60a244;
$gophillygo-yellow: #efa722;
$gophillygo-purple: #6a4388;
$gophillygo-red: #e23331;
$gophillygo-orange: #efa722;
$gophillygo-redorange: #f05223;

$gophillygo-blue-dark: #245280;

$indego-purple: #16216a;

$alert-color-bicycle: #f0a438;

$white: #fff;
$gray: #555;
$lt-gray: #777;
$v-lt-gray: #ccc;

$body-color: #e1e5e9;

$font-color: #111;
$font-secondary-color: #5a5a5a;

$header-brand-text-color: rgba(255, 255, 255, 1);

$primary-nav-link-color: #000;
$primary-nav-bg-color: rgba(255, 255, 255, .9);


$mode-picker-text-color: $white;
$directions-form-text-input-background-color: $white;



$home-section-bg-color: rgba(250, 252, 255, .8);

$place-card-bg-color: $white;

$route-summary-path-selected-color: #e23331;
$route-summary-path-default-color: #5c99c6;
