$home-main-max-width: 680px;
$home-section-margin: 30px;
$home-section-padding: 20px;

$place-card-width: 310px;
$place-card-drop-shadow: 0 0 6px rgba(128, 128, 128, .3);

$modal-panel-drop-shadow: 0 0 100px rgba(0, 0, 0, .3);

$sidebar-width: 340px;
$footer-sidebar-height: 60px;
$directions-form-home-height: 180px;
$directions-form-sidebar-height: 140px;

$sidebar-banner-height: 50px;

$route-summary-height: 80px;
$route-summary-default-dasharray: 7, 7;
$route-summary-selected-dasharray: 0;

// input[type=range]
$track-color: $white;
$thumb-color: $white;

$thumb-radius: 20px;
$thumb-height: 17px;
$thumb-width: 17px;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: #000;
$thumb-border-width: 2px;
$thumb-border-color: $gophillygo-blue;

$track-width: 100%;
$track-height: 3px;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: #000;
$track-border-width: 0;
$track-border-color: #000;

$track-radius: 10px;
$contrast: 5%;
