allowed_hosts: {{ allowed_hosts }}
internal_ips: {{ internal_ips }}
postgis_version: {{ postgis_version }}
aws_storage_bucket_name: '{{ aws_storage_bucket_name }}'
build_dir: {{ root_src_dir }}
database:
  ENGINE: django.contrib.gis.db.backends.postgis
  HOST: {{ db_host }}
  NAME: {{ db_name }}
  PASSWORD: {{ db_password }}
  PORT: '5432'
  USER: {{ db_username }}
otp_url: {{ otp_host }}/otp/routers/{router}/
production: {{ production }}
secret_key: '{{ django_secret_key }}'
use_s3_storage: {{ use_s3_storage }}
default_admin_username: '{{ default_admin_username }}'
default_admin_password: '{{ default_admin_password }}'
default_admin_email: '{{ default_admin_email }}'
