.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $light-gray;

    .leaflet-minimize {
        background-color: #FFFFFF;
        color: #707070;
        cursor: pointer;
        float: right;
        border: 2px solid #707070;
        border-radius: 3px;
        line-height: 10px;
        margin-top: -10px;
        padding-right: 1px;
        z-index: 99999;
    }

    .leaflet-control-layers {
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 15px 20px;
        border-radius: 0;
        box-shadow: 0 0 12px rgba(0,0,0,0.35);

        .leaflet-control-layers-separator {
            margin: 15px -20px 15px -20px;
        }
        .leaflet-control-layers-selector {
            margin-right: 8px;
            top: 0;
        }
    }
}
