.article {
    .content-main {
        padding: 60px 0;

        p {
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8;
        }
    }
    .pull-quote {
        background: $gpg-purple;
        padding: 20px;
        color: white;
        font-family: $secondary-font;
        font-style: italic;
        font-size: 2.1rem;
        float: right;
        max-width: 40%;
        margin-left: 25px;

        @media screen and #{$screen-xs} {
            float: none;
            margin: 10px 0;
            max-width: 100%;
        }

        p { margin: 0; }
    }
}
.content {
    @media screen and #{$screen-xs} {
        padding: 15px;
    }
}