.homepage {
    & > .jumbotron {
        background-image: url('../images/homepage_hero@2x.jpg');

        h1 {
            line-height: 1.3;
            font-size: 4rem;
            font-weight: 700;
            margin: 140px 0 80px;
            color: white;
            text-shadow: 0 2px 12px rgba(0,0,0,0.45);
        }
        .toggle-search {
            small {
                margin: 0 16px;
                font-weight: 900;
                font-style: italic;
                color: white;
                font-size: 100%;
            }
            .btn {
                background: rgba(255,255,255,0.4);
                font-weight: 700;
                font-size: 16px;
                padding: 16px 22px;
                color: white;
                border-radius: 99px;

                &.active {
                    color: $gpg-red;
                    background: white;
                    box-shadow: 0 2px 12px rgba(0,0,0,0.65);
                }
            }
        }

        & > .search {
            position: absolute;
            width: 100%;
            bottom: 0;
            margin: 0;

            input:not([type="checkbox"]) {
                height: auto;
            }
        }
    }

    .twitter-typeahead {
        input:focus::-webkit-input-placeholder { color:transparent; }
        input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
        input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
        input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
    }
    .content {
        padding: 80px 0;

        &.content-gray {
            background: #A4C7E2 url('../images/background_pattern.png');
            background-size: cover;
        }
    }
}
