<div class="nav-banner alert-warning hidden">
    <div class="alert-body">
        <!-- Alert ID gophillygo-alert-2025-11-18 -->
        <!-- Add text here and update the Alert ID comment above to match
        alertId in base.html. Will show an alert at the top of the page. -->
        The GoPhillyGo website is retiring! Visit the &nbsp;<a class="banner-link" href="https://cleanaircouncil.salsalabs.org/signup/index.html">Clean Air Council</a>&nbsp; site to sign up for our newsletter to hear about what's coming next!
        </div>
    <button title="Dismiss this message" name="close"
        class="btn-dismiss-nav-banner"><i class="icon-cancel"></i>
    </button>
</div>
