<div class="preview-card">
    <a href="{% url 'learn-detail' slug=article.slug %}" class="preview-card-link">
        <img class="preview-photo" src="{{ article.narrow_image.url }}" width="308" height="204"
             alt="{{ article.title }}" />
        <div class="preview-details">
            <div class="category-heading">
                {% if article.content_type == 'prof' %}Community Profile{% endif %}
                {% if article.content_type == 'tips' %}Tips and Tricks{% endif %}
            </div>
            <h2>{{ article.title }}</h2>
            {{ article.teaser|safe }}
        </div>
    </a>
    {% if show_link %}
    <a class="goto-more-posts" href="{% url 'learn-list' %}">More tips, posts, and announcements</a>
    {% endif %}
</div>
