<script src="https://d2g9qbzl5h49rh.cloudfront.net/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://d2g9qbzl5h49rh.cloudfront.net/static/jotform.forms.js?3.2.6775" type="text/javascript"></script>
<script type="text/javascript">
    JotForm.init(function() {
        JotForm.onSubmissionError="jumpToSubmit";
    });

    // do some basic validation on the contact form.  jQuery is not available here.
    document.ready(function() {
        var selectors = {
            emailAddressBox:  'emailAddress',
            emailSubscribeButton: 'emailSubscribe'
        };

        // http://badsyntax.co/post/javascript-email-validation-rfc822
        var emailRegex = /^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$/;

        // Check email address entrered and checkbox checked before allowing submission of contact form
        var validateContactForm = function() {
            var emailAddress = document.getElementById(selectors.emailAddressBox).value;

            if (emailRegex.test(emailAddress)) {
                document.getElementById(selectors.emailSubscribeButton).disabled = false;
            } else {
                document.getElementById(selectors.emailSubscribeButton).disabled = true;
            }
        }

        // contact form validation
        document.getElementById(selectors.emailAddressBox).on('change', validateContactForm);
        document.getElementById(selectors.emailAddressBox).on('keyup', validateContactForm);
    });
</script>


<h2>Stay up to date</h2>
<p>
    Stay up to date on all things GoPhillyGo — events, updates, featured content.
</p>
<form class="jotform-form subscribe-form" action="https://submit.jotform.us/submit/51094584186159/"
      method="post" target="_blank" name="form_51094584186159" id="51094584186159" accept-charset="utf-8">
    <input type="hidden" name="formID" value="51094584186159" />
    <input type="hidden" name="q1_firstName" placeholder="First Name" value="">
    <input type="hidden" name="q3_lastName" placeholder="Last Name" value="">
    <input id="emailAddress" name="q4_emailAddress" class="subscribe-input" type="text" name="email" value="" placeholder="Your email address">
    <button id="emailSubscribe" class="subscribe-btn" type="submit" name="subscribe-submit" disabled>Subscribe</button>
    <input type="hidden" id="simple_spc" name="simple_spc" value="51094584186159" />
    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "51094584186159-51094584186159";
    </script>
</form>
