<article class="info-article">
    <header class="info-article-header">
        <div class="info-place-image-hero"
             style="background-image: url('{{ destination.wide_image.url }}');"></div>
        <h2 class="info-article-title">{{ destination.name }}</h2>
        <div class="info-place-actions">
            <a class="place-website-link"
                href="{{ destination.website_url }}"
                target="_blank">Website</a>
            <a class="place-action-go"
                data-destination-id="{{ destination.id }}"
                href="/?destination={{ destination.point.y }}%2C{{ destination.point.x }}&destinationText={{ destination.name|urlencode }}">Directions</a>
        </div>
    </header>
    <section class="info-article-section">
        {{ destination.description|safe }}
    </section>
</article>
