{% load tz %}
<article class="info-article">
    <header class="info-article-header">
        <div class="info-place-image-hero"
             style="background-image: url('{{ event.wide_image.url }}');"></div>
        <div class="info-article-header-info">
            <div class="info-article-header-main">
                <h2 class="info-article-title">{{ event.name }}</h2>
                {% if event.destination %}
                <h3 class="info-article-subtitle">
                    <a href="{% url 'place-detail' pk=event.destination.pk %}">
                        {{ event.destination.name }}
                    </a>
                </h3>
                {% endif %}
                <div class="info-place-actions">
                    {% if event.destination %}
                    <a class="place-action-go"
                        data-destination-id="{{ event.destination.id }}"
                        href="/?destination={{ event.destination.point.y }}%2C{{ event.destination.point.x }}&destinationText={{ event.destination.name|urlencode }}">Directions</a>
                    {% endif %}
                    <a class="place-website-link"
                        href="{{ event.website_url }}"
                        target="_blank">Details</a>
                </div>
            </div>
            <div class="info-event-meta">
                {% if event.start_date|localtime|date:"D N j" == event.end_date|localtime|date:"D N j" %}
                <!-- same-day event -->
                <div class="info-event-date">
                    {{ event.start_date|date:"D N j" }}
                </div>
                <div class="info-event-time">
                    <span class="start-time">{{ event.start_date|time:"P" }}</span>
                    &ndash;
                    <span class="end-time">{{ event.end_date|time:"P" }}</span>
                </div>
                {% else %}
                <!-- event ends on different day than it starts -->
                <div class="info-event-date info-event-time">
                    {{ event.start_date|date:"D N j" }} {{ event.start_date|time:"P" }}&ndash;
                </div>
                <div class="info-event-date info-event-time">
                    {{ event.end_date|date:"D N j" }} {{ event.end_date|time:"P" }}
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <section class="info-article-section">
        {{ event.description|safe }}
    </section>
</article>
