{% load cropping %}
{% load destination_extras %}
{% load tz %}
<article class="info-article">
    <header class="info-article-header">

        {% if event.extraeventpicture_set.exists %}
        <div class="detail-image-carousel-container">
            <div class="detail-image-carousel">
                <img src="{% cropped_thumbnail event 'wide_image' %}">
                {% for extra_image in event.extraeventpicture_set.all %}
                <img class="detail-image-carousel-extra-image hidden"
                     src="{% cropped_thumbnail extra_image 'wide_image' %}">
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="info-place-image-hero"
             style="background-image: url('{% cropped_thumbnail event 'wide_image' %}');"></div>
        {% endif %}
        <div class="info-article-header-info">
            <div class="info-article-header-main">
                <h2 class="info-article-title">{{ event.name }}</h2>
                {% if event.first_destination %}
                <h3 class="info-event-destination">
                    at
                    <!-- limit to the first four destinations, with JS to show the rest, if any -->
                    {% with max_destinations=4 %}
                    {% for event_dest in event.event_destinations.all %}
                    <div class="{% if forloop.counter > max_destinations %}extra-destination hidden-extra{% endif %}">
                        <a class="info-event-destination-link"
                            href="{% url 'place-detail' pk=event_dest.destination.pk %}">
                            {{ event_dest.destination.name }}
                        </a>
                        {% if event_dest.start_date and event_dest.end_date %}
                        {% if not event.single_day %}
                        <!-- only show dates for multi-day events -->
                            <div class="info-event-date">
                            {{ event_dest.start_date|date:"D M j" }}&nbsp;
                        </div>
                        {% endif %}
                        <div class="info-event-time">
                            <span class="start-time">
                                {{ event_dest.start_date|time:"fA"|lower }}
                            </span>&ndash;
                            <span class="end-time">
                                {{ event_dest.end_date|time:"fA"|lower }}
                            </span>
                        </div>
                        {% endif %}
                        {% if not forloop.last %}<hr />{% endif %}
                    </div>
                    {% endfor %}
                    {% if event.event_destinations.count > max_destinations %}
                    <a class="info-event-destination-link info-more-link"
                        href="#"
                        onclick="
                            jQuery('.extra-destination').toggleClass('hidden-extra');
                            jQuery('.info-more-link').toggleClass('hidden-extra');
                            return false;
                        ">
                        See all {{ event.event_destinations.count }} locations
                    </a>
                    {% endif %}
                    {% endwith %}
                </h3>
                {% endif %}
                <div class="info-place-actions">
                    {% if event.event_destinations.count > 1 %}
                    <!-- TODO: #1111 link to tour directions instead of first destination-->
                    <a class="place-action-go"
                        data-destination-id="{{ event.first_destination.id }}"
                        href="/?destination={{ event.first_destination.point.y }}%2C{{ event.first_destination.point.x }}&destinationText={{ event.name|urlencode }}">Map</a>
                    {% elif event.first_destination %}
                    <a class="place-action-go"
                        data-destination-id="{{ event.first_destination.id }}"
                        href="/?destination={{ event.first_destination.point.y }}%2C{{ event.first_destination.point.x }}&destinationText={{ event.first_destination.name|urlencode }}">Directions</a>
                    {% endif %}
                    <a class="place-website-link"
                        href="{{ event.website_url }}"
                        target="_blank">Details</a>
                </div>
            </div>
            <div class="info-event-meta">
                {% if event.single_day %}
                <!-- same-day event -->
                <div class="info-event-date">
                    {{ event.start_date|date:"D M j" }}&nbsp;
                </div>
                <div class="info-event-time">
                    <span class="start-time">{{ event.start_date|time:"fA"|lower }}</span>&ndash;<span class="end-time">{{ event.end_date|time:"fA"|lower }}</span>
                </div>
                {% else %}
                <!-- event ends on different day than it starts -->
                <div class="info-event-date">
                    {{ event.start_date|date:"D M j" }} &middot; {{ event.start_date|time:"fA"|lower }}
                    &nbsp;&ndash;&nbsp;
                </div>
                <div class="info-event-date">
                    {{ event.end_date|date:"D M j" }} &middot; {{ event.end_date|time:"fA"|lower }}
                </div>
                {% endif %}
                <ul class="info-event-activities">
                    {% has_activity event 'cycling' as has_cycling %}
                    {% has_activity event 'hiking' as has_hiking %}
                    {% has_activity event 'water recreation' as has_water_rec %}
                    {% if has_cycling %}
                    <li class="activity" title="Cycling">
                        <i class="icon-cycling"></i>
                    </li>
                    {% endif %}
                    {% if has_hiking %}
                    <li class="activity" title="Hiking">
                        <i class="icon-hiking"></i>
                    </li>
                    {% endif %}
                    {% if has_water_rec %}
                    <li class="activity" title="Water recreation">
                        <i class="icon-water"></i>
                    </li>
                    {% endif %}
                    {% if destination.accessible %}
                    <li class="activity" title="Wheelchair accessible">
                        <i class="icon-wheelchair"></i>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <section class="info-article-section">
        {{ event.description|safe }}
    </section>
</article>
