<header class="app-header">
    <div class="brand">
        <div class="slogan-start">
            Walk. Ride. Pedal. Discover.
        </div>
        <div class="logo"><a class="home-link" href="{% url 'home' %}"></a></div>
        <div class="slogan-end">
            Next time bring your bike onboard.
        </div>
    </div>
    <nav class="primary-nav tab-control">
        <a class="nav-item {% if not tab or tab == 'home'%} on {% endif %}" href="/" data-tab-id="HOME">Home</a>
        <a id="explore-header-link" class="nav-item {% if tab == 'explore'%} on {% endif %}"
            data-tab-id="EXPLORE" href="/explore">Explore</a>
        <a class="nav-item {% if tab == 'info'%} on {% endif %}" href="{% url 'learn-list' %}">Learn</a>
    </nav>
    {% if tab == 'home' or tab == 'info' %}
        {% include "partials/alert-banner.html" %}
    {% endif %}
</header>
