<div class="modal-overlay">
    <div class="modal-panel modal-options">
        <header class="modal-header">
            Bike options
        </header>
        <ul class="modal-list modal-contents">
            <li class="modal-list-indego">Indego bike sharing</li>
            <li class="modal-list-timing">Arrive/depart at…</li>
            <li class="modal-list-ride">Ride quality</li>
        </ul>
        <footer class="modal-footer">
            <button name="close-modal" class="btn-close-modal">Close</button>
        </footer>
    </div>

    <div class="modal-panel modal-share">
        <header class="modal-header">
            <div class="default">
                <div class="modal-header-contents"><i class="icon-share"></i>Share </div>
            </div>
            <div class="secondary share-link">
                <div class="modal-header-contents"><i class="icon-link"></i> Get a link </div>
            </div>
        </header>
        <ul class="modal-list modal-contents default">
            <li class="modal-list-link">Get a link</li>
            <li class="modal-list-twitter">Twitter</li>
            <li class="modal-list-facebook">Facebook</li>
            <li class="modal-list-google">Google+</li>
            <li class="modal-list-email">Email</li>
        </ul>
        <div class="modal-contents secondary share-link">
            <p>Here's a link to these directions:</p>
            <p><a id="modalDirectionsLink" href=""></a></p>
        </div>
        <footer class="modal-footer">
            <button name="close-modal" class="btn-close-modal">Close</button>
        </footer>
    </div>

</div>
