<div class="modal-overlay">
    <div class="modal-panel modal-options bike-options">
        <header class="modal-header">
            Bike options
        </header>
        <ul class="modal-list modal-contents">
            <li class="modal-list-indego">Indego bike sharing</li>
            <li class="modal-list-timing">Arrive/depart at…</li>
            <li class="modal-list-ride">Ride quality</li>
        </ul>
        <footer class="modal-footer">
            <button name="close-modal" class="btn-close-modal">Close</button>
        </footer>
    </div>

    <div class="modal-panel modal-options modal-sub-menu bike-share-select">
        <header class="modal-header">
            <i class="icon-indego"></i>
            Need a bike?
        </header>
        <ul class="modal-list modal-contents">
            <li class="modal-list-choice selected">I have a bike</li>
            <li class="modal-list-choice">Use Indego bike sharing</li>
        </ul>
    </div>

    <div class="modal-panel modal-options modal-sub-menu timing-modal">
        <header class="modal-header">
            <i class="icon-clock"></i>
            Timing
        </header>
        <div class="modal-contents">
            <ul class="modal-options-timing-tabs">
                <li class="selected">Depart at</li>
                <li>Arrive by</li>
            </ul>
            <ul class="modal-options-timing-fields">
                <li><select class="modal-options-timing-select" name="options-timing-day">
                    <option value="" selected>Today</option>
                    <option value="">Thu 10/13</option>
                    <option value="">Fri 10/14</option>
                    <option value="">Sat 10/15</option>
                    <option value="">Sun 10/16</option>
                    <option value="">Mon 10/17</option>
                    <option value="">Tue 10/18</option>
                    <option value="">Wed 10/19</option>
                </select></li>
                <li><select class="modal-options-timing-select" name="options-timing-time">
                    <option value="" selected>1:30 pm</option>
                    <option value="">1:45 pm</option>
                    <option value="">2:00 pm</option>
                    <option value="">2:15 pm</option>
                    <option value="">2:30 pm</option>
                    <option value="">2:45 pm</option>
                    <option value="">3:00 pm</option>
                    <option value="">3:15 pm</option>
                    <option value="">3:30 pm</option>
                    <option value="">3:45 pm</option>
                    <option value="">4:00 pm</option>
                    <option value="">4:15 pm</option>
                    <option value="">4:30 pm</option>
                    <option value="">4:45 pm</option>
                    <option value="">5:00 pm</option>
                    <option value="">5:15 pm</option>
                    <option value="">5:30 pm</option>
                    <option value="">5:45 pm</option>
                    <option value="">6:00 pm</option>
                    <option value="">6:15 pm</option>
                    <option value="">6:30 pm</option>
                    <option value="">6:45 pm</option>
                    <option value="">7:00 pm</option>
                    <option value="">7:15 pm</option>
                    <option value="">7:30 pm</option>
                    <option value="">7:45 pm</option>
                    <option value="">8:00 pm</option>
                    <option value="">8:15 pm</option>
                    <option value="">8:30 pm</option>
                    <option value="">8:45 pm</option>
                    <option value="">9:00 pm</option>
                    <option value="">9:15 pm</option>
                    <option value="">9:30 pm</option>
                    <option value="">9:45 pm</option>
                    <option value="">10:00 pm</option>
                    <option value="">10:15 pm</option>
                    <option value="">10:30 pm</option>
                    <option value="">10:45 pm</option>
                </select></li>
            </ul>
        </div>
        <footer class="modal-footer modal-options-timing-footer">
            <button name="reset" class="btn-reset-modal">Clear</button>
            <button name="save" class="btn-close-modal">Done</button>
        </footer>
    </div>

    <div class="modal-panel modal-options modal-sub-menu bike-triangle">
        <header class="modal-header">
            <i class="icon-road"></i>
            What kind of ride?
        </header>
        <ul class="modal-list modal-contents modal-list-narrow">
            <li class="modal-list-choice selected">Any</li>
            <li class="modal-list-choice">Fast</li>
            <li class="modal-list-choice">Flat</li>
            <li class="modal-list-choice">Safe</li>
        </ul>
    </div>

    <div class="modal-panel modal-options walk-options">
        <header class="modal-header">
            Walk options
        </header>
        <ul class="modal-list modal-contents">
            <li class="modal-list-timing">Arrive/depart at…</li>
            <li class="modal-list-accessibility">Accessibility</li>
        </ul>
        <footer class="modal-footer">
            <button name="close-modal" class="btn-close-modal">Close</button>
        </footer>
    </div>

    <div class="modal-panel modal-options modal-sub-menu accessibility-options">
        <header class="modal-header">
            <i class="icon-wheelchair"></i>
            Accessibility
        </header>
        <ul class="modal-list modal-contents">
            <li class="modal-list-choice selected">No wheelchair</li>
            <li class="modal-list-choice">I have a wheelchair</li>
        </ul>
    </div>

    <div class="modal-panel modal-share">
        <header class="modal-header">
            <div class="default">
                <div class="modal-header-contents"><i class="icon-share"></i>Share </div>
            </div>
            <div class="secondary share-link">
                <div class="modal-header-contents"><i class="icon-link"></i> Get a link </div>
            </div>
        </header>
        <ul class="modal-list modal-contents default">
            <li class="modal-list-link">Get a link</li>
            <li class="modal-list-twitter">Twitter</li>
            <li class="modal-list-facebook">Facebook</li>
            <li class="modal-list-google">Google+</li>
            <li class="modal-list-email">Email</li>
        </ul>
        <div class="modal-contents secondary share-link">
            <p>Here's a link to these directions:</p>
            <p><a id="modalDirectionsLink" href=""></a></p>
        </div>
        <footer class="modal-footer">
            <button name="close-modal" class="btn-close-modal">Close</button>
        </footer>
    </div>

</div>
