.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
    background: $light-gray;

    @media screen and #{$screen-sm} {
        left: 320px;
    }
    @media screen and #{$screen-xxs} {
        display: none;
    }

    .leaflet-minimize {
        color: #707070;
        cursor: pointer;
        position: absolute;
        border-radius: 3px;
        line-height: 10px;
        padding: 13px 15px;
        bottom: 0;
        z-index: 99999;
        right: 0;

        &.minimized {
            font-size: 18px;
            height: 42px;
            line-height: 0;
            background: white;
        }
    }

    .leaflet-popup-close-button {
        top: 5px !important;
        right: 5px !important;
    }

    .leaflet-control-layers {
        margin-right: 30px;
        margin-bottom: 30px;
        position: relative;
        padding: 15px 20px 18px;
        border-radius: 0;
        box-shadow: 0 0 12px rgba(0,0,0,0.35);

        .leaflet-control-layers-separator {
            margin: 15px -20px 15px -20px;
        }
        .leaflet-control-layers-selector {
            margin-right: 8px;
            top: 0;
        }
    }
}

.leaflet-popup-content {
    .destination-description {
        max-height: 240px;
        overflow: auto;
    }

    p.bikeshare {
        line-height: 20%;
    }

    a {
        cursor: pointer;
    }
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.popup-title {
    overflow: auto;
    overflow-y: hidden;
}

.popup-logo {
    float: left;
    margin-right: 1.8rem;
}

.print > header {
    position: static;
    height: auto;
}

.directions-print {

    #directions-map {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }

    position: static !important;
    width: auto !important;
    .block-leg {
        height: auto;
        margin-bottom: 10px;
        margin-top: 15px;
        padding-top: 15px;
        width: 100%;
        border-top: 1px solid #bbb;
        &:first-child {
            border-top: 0;
        }
    }
}
