{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}
<div class="article">
    <section class="jumbotron small"></section>
    <section class="content">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 content-main">
                <h1>{{ page.title }}</h1>
    
                {{ page.content|safe }}
            </div>
        </div>
      </div>
    </section>
</div>
{% include "partials/footer.html" %}
{% endblock %}
