{% extends "base.html" %}
{% block content %}
<div class="article">
    {% include "header-mixin.html" %}
    <section class="jumbotron small" style="background-image: url('/media/{{ article.wide_image }}');"></section>
    <section class="content">
      <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 content-main">
                <h3>{% block title %}Open Transit Block{% endblock %}</h3>
                <h1>{{ article.title }}</h1>
    
                <div class="pull-quote">
                  {{ article.teaser|safe }}
                </div>
                {{ article.content|safe }}
            </div>
        </div>
      </div>
    </section>
    {% include "footer-mixin.html" %}
</div>
{% endblock %}
