<a href="{% url 'learn-detail' slug=article.slug %}" class="preview-card-link">
    <div class="preview-card">
        <img class="preview-photo" src="{{ article.narrow_image.url }}" width="308" height="204"
             alt="{{ article.title }}" />
        <div class="preview-details">
            <div class="category-heading">
                {% if article.content_type == 'prof' %}Community Profile{% endif %}
                {% if article.content_type == 'tips' %}Tips and Tricks{% endif %}
            </div>
            <h2>{{ article.title }}</h2>
            <p class="lede">
                {{ article.content|safe }}
            </p>
        </div>
    </div>
</a>
