<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}CAC Trip Planner{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block cssimports %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block content %}<h1>I'm abstract - you should never see me!</h1>{% endblock %}

    {% block jsimports %}
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'plugins.js' %}"></script>
    {% endblock %}
  </body>
</html>
