<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>{% block title %}Trip Planning for Bikes, Public Transit, and Walking | Clean Air Council{% endblock %}</title>

    {% block extrametatags %}
    <meta property="og:title" content="Trip Planner" />
    <meta property="og:size_name" content="Go Philly Go" />
    <meta property="og:url"
    content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}" />
    <!-- TODO: reword? -->
    <meta property="og:description"
        content="CAC Trip Planner, for planning transit, walking, and biking trips around the Delaware Valley region.  Features parks and other destinations." />
    <meta property="fb:app_id" content="{{ fb_app_id }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="Clean Air Council" />
    <meta property="article:publisher" content="CAC Trip Planner" />
    <meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}//static/images/logo_color.svg" />
    {% endblock %}

    {% block cssimports %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link href="{% static 'styles/vendor.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">

    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block content %}<h1>I'm abstract - you should never see me!</h1>{% endblock %}

    {% block jsimports %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    {% if debug %}

    {% if fb_app_id %}
    <!-- facebook loads async; might not be there during module init! -->
    <!-- loading debug version here -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk/debug.js#xfbml=1&version=v2.3&appId={{ fb_app_id }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}

    <script src="{% static 'scripts/vendor/bootstrap.js' %}"></script>
    <script src="{% static 'scripts/vendor/jquery.storageapi.js' %}"></script>
    <script src="{% static 'scripts/vendor/lodash.js' %}"></script>
    <script src="{% static 'scripts/vendor/handlebars.js' %}"></script>
    <script src="{% static 'scripts/vendor/Polyline.encoded.js' %}"></script>
    <script src="{% static 'scripts/vendor/typeahead.bundle.js' %}"></script>
    <script src="{% static 'scripts/vendor/leaflet.awesome-markers.js' %}"></script>
    <script src="{% static 'scripts/vendor/moment.js' %}"></script>
    <script src="{% static 'scripts/vendor/moment-duration-format.js' %}"></script>
    <script src="{% static 'scripts/vendor/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'scripts/vendor/bootstrap-select.js' %}"></script>

    <script src="{% static 'scripts/main/cac/cac.js' %}"></script>
    <script src="{% static 'scripts/main/cac/utils.js' %}"></script>
    <script src="{% static 'scripts/main/cac/user/cac-user-preferences.js' %}"></script>
    <script src="{% static 'scripts/main/cac/search/cac-search-params.js' %}"></script>
    <script src="{% static 'scripts/main/cac/search/cac-geocoder.js' %}"></script>
    <script src="{% static 'scripts/main/cac/search/cac-typeahead.js' %}"></script>
    <script src="{% static 'scripts/main/cac/share/cac-social-sharing.js' %}"></script>
    <script src="{% static 'scripts/main/cac/routing/cac-routing-itinerary.js' %}"></script>
    <script src="{% static 'scripts/main/cac/routing/cac-routing-plans.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-control.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-overlays.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-templates.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-bike-mode-options.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-sidebar-tab.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-sidebar-explore.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-sidebar-directions.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-itinerary-list.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-directions-list.js' %}"></script>
    <script src="{% static 'scripts/main/cac/home/cac-home-templates.js' %}"></script>
    <script src="{% static 'scripts/main/cac/pages/cac-pages-home.js' %}"></script>
    <script src="{% static 'scripts/main/cac/pages/cac-pages-map.js' %}"></script>
    <script src="{% static 'scripts/main/cac/pages/cac-pages-directions.js' %}"></script>

    {% else %}

    {% if fb_app_id %}
    <!-- facebook loads async; might not be there during module init! -->
    <!-- loading minified version here -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId={{ fb_app_id }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}

    <script src="{% static 'scripts/vendor.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

    {% endif %}

    {% endblock %}

    {% block jspage %}
    {% endblock %}
  </body>
</html>
