<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>{% block title %}GoPhillyGo | Trip Planning for Bikes, Public Transit, and Walking | Clean Air Council{% endblock %}</title>

    {% block extrametatags %}
    <meta property="fb:app_id" content="{{ fb_app_id }}" />
    <meta property="og:url"
    content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}" />
    <meta property="og:title" content="Trip Planner" />
    <meta property="og:description"
        content="CAC Trip Planner, for planning transit, walking, and biking trips around the Delaware Valley region.  Features parks and other destinations." />
    <meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/static/images/logo_blue.png" />
    <meta property="og:image:width" content="332" />
    <meta property="og:image:height" content="314" />
    <meta property="og:site_name" content="GoPhillyGo" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@go_philly_go" />
    <meta name="twitter:title" content="GoPhillyGo" />
    <meta name="twitter:description" content="Helping you get around greater Philly" />
    <meta name="twitter:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/static/images/logo_blue.png" />
    {% endblock %}

    {% block cssimports %}

    <link href="{% static 'styles/vendor.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}" />
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}" />
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}" />
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}" />
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}" />
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}" />
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="32x32" />

    {% endblock %}

    {% block extracss %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KNZ9R2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KNZ9R2');</script>
    <!-- End Google Tag Manager -->

    {% block body %}
    <div id="body-div" class="body-{{ tab|default:'home' }}">
        {% block content %}<h1>I'm abstract - you should never see me!</h1>{% endblock %}
    </div>
    {% endblock body %}

    {% block jsimports %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        jQuery.noConflict(); // because JotForms.
    </script>

    {% if debug %}

    {% if fb_app_id %}
    <!-- facebook loads async; might not be there during module init! -->
    <!-- loading debug version here -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk/debug.js#xfbml=1&version=v2.3&appId={{ fb_app_id }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}

    <script src="{% static 'scripts/vendor/cartodb.js' %}"></script>
    <script src="{% static 'scripts/vendor/leaflet.awesome-markers.js' %}"></script>
    <script src="{% static 'scripts/vendor/js.storage.js' %}"></script>
    <script src="{% static 'scripts/vendor/lodash.js' %}"></script>
    <script src="{% static 'scripts/vendor/handlebars.js' %}"></script>
    <script src="{% static 'scripts/vendor/Polyline.encoded.js' %}"></script>
    <script src="{% static 'scripts/vendor/typeahead.bundle.js' %}"></script>
    <script src="{% static 'scripts/vendor/turf-helpers.js' %}"></script>
    <script src="{% static 'scripts/vendor/turf-nearest.js' %}"></script>
    <script src="{% static 'scripts/vendor/moment.js' %}"></script>
    <script src="{% static 'scripts/vendor/moment-duration-format.js' %}"></script>
    <script src="{% static 'scripts/vendor/navigo.js' %}"></script>

    <script src="{% static 'scripts/main/cac/cac.js' %}"></script>
    <script src="{% static 'scripts/main/cac/utils.js' %}"></script>
    <script src="{% static 'scripts/main/cac/user/cac-user-preferences.js' %}"></script>
    <script src="{% static 'scripts/main/cac/search/cac-search-params.js' %}"></script>
    <script src="{% static 'scripts/main/cac/search/cac-geocoder.js' %}"></script>
    <script src="{% static 'scripts/main/cac/search/cac-typeahead.js' %}"></script>
    <script src="{% static 'scripts/main/cac/share/cac-social-sharing.js' %}"></script>
    <script src="{% static 'scripts/main/cac/routing/cac-routing-itinerary.js' %}"></script>
    <script src="{% static 'scripts/main/cac/routing/cac-routing-plans.js' %}"></script>
    <script src="{% static 'scripts/main/cac/urlrouting/cac-urlrouting.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-control.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-isochrone.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-itinerary.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-overlays.js' %}"></script>
    <script src="{% static 'scripts/main/cac/map/cac-map-templates.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-mode-options.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-sidebar-tab.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-sidebar-explore.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-directions.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-itinerary-list.js' %}"></script>
    <script src="{% static 'scripts/main/cac/control/cac-control-directions-list.js' %}"></script>
    <script src="{% static 'scripts/main/cac/home/cac-home-templates.js' %}"></script>
    <script src="{% static 'scripts/main/cac/pages/cac-pages-home.js' %}"></script>
    <script src="{% static 'scripts/main/cac/pages/cac-pages-map.js' %}"></script>

    {% else %}

    {% if fb_app_id %}
    <!-- facebook loads async; might not be there during module init! -->
    <!-- loading minified version here -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId={{ fb_app_id }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}

    <script src="{% static 'scripts/vendor.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

    {% endif %}

    {% endblock %}

    {% block jspage %}
    {% endblock %}
  </body>
</html>
