<script src="http://d2g9qbzl5h49rh.cloudfront.net/static/prototype.forms.js" type="text/javascript"></script>
<script src="http://d2g9qbzl5h49rh.cloudfront.net/static/jotform.forms.js?3.2.6775" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){
      JotForm.onSubmissionError="jumpToSubmit";
   });
</script>
<div class="container text-center contact-form">
    <h4>Contact Us</h4>
    <p>Stay up to date on all things GoPhillyGo. Enter your information below to be updated on GoPhillyGo events, and featured content from the site.</p>
    <form class="jotform-form" action="http://submit.jotform.us/submit/51094584186159/" method="post"
        target="_blank" name="form_51094584186159" id="51094584186159" accept-charset="utf-8">
        <input type="hidden" name="formID" value="51094584186159" />
        <ul class="list-inline">
            <li><input type="text" name="q1_firstName" placeholder="First Name" value=""></li>
            <li><input type="text" name="q3_lastName" placeholder="Last Name" value=""></li>
            <li><input type="text" name="q4_emailAddress" placeholder="Email Address" value=""></li>
        </ul>
        <div class="submit row">
        <div class="col-xs-12">
            <label><input type="checkbox" name="agree"> I agree to receive emails from GoPhillyGo</label><br class="visible-xs">
            <input type="submit" value="SUBMIT">
        </div>
    </div>
    <input type="hidden" id="simple_spc" name="simple_spc" value="51094584186159" />
    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "51094584186159-51094584186159";
    </script>
    </form>
</div>
