<script src="https://d2g9qbzl5h49rh.cloudfront.net/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://d2g9qbzl5h49rh.cloudfront.net/static/jotform.forms.js?3.2.6775" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){
      JotForm.onSubmissionError="jumpToSubmit";
   });
</script>
<div class="contact-form">
    <div class="container text-center">
        <h4>Contact Us</h4>
        <p>Stay up to date on all things GoPhillyGo. Enter your information below to be updated on GoPhillyGo events and featured content from the site.</p><br />
        <form class="jotform-form" action="https://submit.jotform.us/submit/51094584186159/" method="post"
            target="_blank" name="form_51094584186159" id="51094584186159" accept-charset="utf-8">
            <input type="hidden" name="formID" value="51094584186159" />
            <ul class="list-inline">
                <li><input type="text" name="q1_firstName" placeholder="First Name" value=""></li>
                <li><input type="text" name="q3_lastName" placeholder="Last Name" value=""></li>
                <li><input type="text" name="q4_emailAddress" placeholder="Email Address" value=""></li>
            </ul>
            <div class="submit">
                <label>
                    <input type="checkbox" name="agree"> I agree to receive emails from GoPhillyGo </input>
                </label>
                <br />
                <input type="submit" value="subscribe" />
            </div>
            <input type="hidden" id="simple_spc" name="simple_spc" value="51094584186159" />
            <script type="text/javascript">
                document.getElementById("si" + "mple" + "_spc").value = "51094584186159-51094584186159";
            </script>
        </form>
    </div>
</div>
