{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}
<div class="print container">
  <section class="directions directions-print">
    <div id="directions-map"></div>
    <div class="directions-list">
    </div>
  </section>
</div>
{% endblock %}

{%block jspage %}
<script type="text/javascript">
$(document).ready(function () {
    CAC.Settings.routingUrl = '{{ routing_url }}';
    CAC.Settings.fbAppId = '{{ fb_app_id }}';

    var directions = new CAC.Pages.Directions();
    directions.initialize();
});
</script>
{% endblock %}
