{% extends "base.html" %}
{% load cropping %}
{% load staticfiles %}

{% block pagetitle %}
<title>{% block title %}GoPhillyGo | {{ event.name }}{% endblock %}</title>

<meta property="og:title" content="{{ event.name }}" />
<meta name="twitter:title" content="{{ event.name }}" />
<meta name="apple-mobile-web-app-title" content="{{ event.name }}">
<meta property="og:type" content="place" />
<meta property="og:rich_attachment" content="true" />
{% endblock %}

{% block extrametatags %}
<meta property="fb:app_id" content="{{ fb_app_id }}" />
<meta property="fb:pages" content="299797223477237" />
<meta property="fb:profile_id" content="gophillygo" />
<meta property="og:url"
    content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}" />
<meta property="og:site_name" content="GoPhillyGo" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@go_philly_go" />
<meta property="og:description" content="{{ event.description|striptags }}" />
<meta name="twitter:description" content="{{ event.description|striptags }}" />
<meta property="og:image" content="{% cropped_thumbnail event 'wide_image' %}" />
<meta name="twitter:image" content="{% cropped_thumbnail event 'wide_image' %}" />
<meta property="og:image:width" content="680" />
<meta property="og:image:height" content="400" />
{% endblock %}

{% block content %}
    {% include "partials/header.html" %}
    <div class="main">
        <h1><a href="{% url 'home' %}">Events We Love</a></h1>
        {% include "partials/event-detail.html" %}

        <div class="summaries-list">
            <h3>More great events around Philly</h3>
            {% for event in more_events %}
                {% include "partials/event-card.html" %}
            {% endfor %}
            <div class="more-link">
                <a href="{% url 'home' %}">See them all</a>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
