{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% include "partials/header.html" %}

    <div class="the-map" id="map"></div>

    <form class="directions-form-element" action="" method="post">
        <div class="directions-form">
            <div class="mode-picker">
                <div class="mode-toggle">
                    <div class="walk mode-option on" title ="Walk there">
                        <i class="icon-walk"></i> <span class="mode-label">Walk</span>
                    </div>
                    <div class="bike mode-option" title ="Bike there">
                        <i class="icon-bike"></i> <span class="mode-label">Bike</span>
                    </div>
                    <input type="hidden" name="mode" value="walk">
                </div>
                <div class="transit mode-option on" title ="Click to disable transit">
                    <i class="icon-transit-on"></i> <span class="mode-label">Transit</span>
                    <input type="hidden" name="transit" value="on">
                </div>
                <div class="btn-options" title="Route options">
                    <i class="icon-sliders"></i>
                </div>
            </div>
            <div class="directions-from directions-text-input">
                <label for="input-directions-from">from</label>
                <input type="search" id="input-directions-from" name="input-directions-from"
                    value="" placeholder="Enter a starting point"
                    tabindex="1" class="typeahead" data-typeahead-key="origin">
                <button class="btn-geolocate" title="Detect current location" type="button"
                    tabindex="3" name="geolocate"><i class="icon-geolocate"></i></button>
            </div>
            <div class="directions-to directions-tab-button directions-text-input">
                <label for="input-directions-to">to</label>
                <input type="search" id="input-directions-to" name="input-directions-to" value=""
                    placeholder="Enter a destination – or choose below"
                    tabindex="2" class="typeahead" data-typeahead-key="destination">
                <button class="btn-reverse" title="Swap starting point and destination"
                    tabindex="4" type="button" name="reverse"><i class="icon-reverse"></i></button>
            </div>
            <div class="isochrone-control directions-tab-button directions-text-input hidden">
                <label for="isochrone-slider">within</label>
                <div id="output-directions-within">15</div>
                <input type="range" id="isochrone-slider" name="isochrone-slider" value="15"
                    tabindex="5" min="15" max="60" step="15">
            </div>
        </div>
    </form>

    <div class="sidebar-banner indego-banner">
        <div class="banner-message">Need wheels? Click <i class="icon-sliders"></i> for Indego bike sharing</div>
        <button title="Dismiss this message" name="close"
            class="btn-dismiss-sidebar-banner"><i class="icon-cancel"></i>
        </button>
    </div>

    <div class="sidebar-banner trip-options-banner hidden"></div>

    <div class="places">
        <div class="places-content">
            <header class="places-header">
                <h1>Places we love</h1>
                <a href="#" class="map-view-btn">Map View</a>
                <div class="filter-toggle filter-toggle-tabs">
                    <div class="all filter-option on" data-filter="All">
                        All
                    </div>
                    <div class="events filter-option" data-filter="Events">
                        Events
                    </div>
                    <div class="nature filter-option" data-filter="Nature">
                        Nature
                    </div>
                    <div class="exercise filter-option" data-filter="Exercise">
                        Exercise
                    </div>
                    <div class="educational filter-option" data-filter="Educational">
                        Educational
                    </div>
                    <input type="hidden" name="destination-filter" value="All">
                </div>
            </header>
            <ul class="place-list">
                {% for destination in destinations %}
                <li class="place-card no-origin" data-destination-id="{{ destination.id }}"
                    data-destination-x="{{ destination.point.x }}"
                    data-destination-y="{{ destination.point.y }}">
                    <div class="place-card-photo-container">
                        <img class="place-card-photo"
                            {% if destination.image %}
                                src="{{ destination.image.url }}"
                            {% else %}
                                src="https://placehold.it/310x155.jpg"
                            {% endif %}
                            width="310" height="155"
                            alt="{{ destination.name }}" />
                    </div>
                    <h2 class="place-card-name">{{ destination.name }}</h2>
                    <div class="place-card-travel-logistics">
                        <span class="place-card-travel-logistics-duration">N</span> min from <span class="place-card-travel-logistics-origin">origin</span>
                    </div>
                    <div class="place-card-actions">
                        <a class="place-card-action place-action-go"
                            data-destination-id="{{ destination.id }}" href="#">Directions</a>
                        <a class="place-card-action place-action-details"
                           href="{% url 'place-detail' pk=destination.pk %}">More info</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% include "partials/spinner.html" %}
    </div>

    {% if article %}
        {% include "partials/article-card.html" with show_link=True %}
    {% endif %}

    <div class="directions-results">
        {% include "partials/spinner.html" %}
        <div class="directions-list"></div>
    </div>

    <div class="directions-step-by-step"></div>

    {% include "partials/modals.html" %}

    {% include "partials/footer.html" %}
{% endblock %}

{%block jspage %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
    CAC.Settings.fbAppId = '{{ fb_app_id }}';
    CAC.Settings.routingUrl = '{{ routing_url }}';
    CAC.Settings.isochroneUrl = '{{ isochrone_url }}';
    var home = new CAC.Pages.Home();
    home.initialize();
});
</script>
{% endblock %}
