{% extends "base.html" %}
{% block content %}
{% include "header-mixin.html" %}
<section class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <h1 class="text-center">Eco-friendly exploration of Greater Philadelphia on <em>foot</em>, <em>bike</em>, and <em>public transit</em>.</h1>
                <div class="text-center toggle-search">
                    <button class="btn btn-lg active" id="toggle-explore">Explore nearby locations</button>
                    <small>or</small>
                    <button class="btn btn-lg" id="toggle-directions">Help me find directions</button>
                </div>
            </div>
        </div>
    </div>
    <div class="search text-center hidden-xs hidden-sm">
        <form id="explore">
            <span class="text">Where can I go in</span>
            <input id="exploreTime" type="number" value="20" min="5" step="5" max="120" />
            <span class="text">minutes from</span>
            <input id="exploreOrigin" class="typeahead" type="search"
                data-typeahead-key="origin" placeholder="City Hall" />
            <span class="text">using</span>
            <div id="directionsMode" class="btn-toolbar transit-types-container">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-transit active" title="" data-original-title="Walking">
                        <input type="radio" name="anytime-mode" value="walking" checked="">
                        <i class="md md-directions-walk"></i>
                    </label>
                    <label class="btn btn-primary btn-transit" title="" data-original-title="Biking">
                        <input type="radio" name="anytime-mode" value="biking">
                        <i class="md md-directions-bike"></i>
                    </label>
                </div>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-transit" title="" data-original-title="Regional Rail">
                        <input type="checkbox" name="public-transit-mode" value="train">
                        <i class="md md-directions-transit"></i>
                    </label>
                </div>
            </div>
            <button type="submit">&rarr;</button>
        </form>
        <form id="directions" class="hidden">
            <span class="text">How do I get from</span>
            <input id="directionsFrom" class="typeahead" type="search"
                data-typeahead-key="from" placeholder="Current location" />
            <span class="text">to</span>
            <input id="directionsTo" class="typeahead" type="search"
                data-typeahead-key="to" placeholder="City Hall" />
            <span class="text">using</span>
            <div id="directionsMode" class="btn-toolbar transit-types-container">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-transit active" title="" data-original-title="Walking">
                        <input type="radio" name="anytime-mode" value="walking" checked="">
                        <i class="md md-directions-walk"></i>
                    </label>
                    <label class="btn btn-primary btn-transit" title="" data-original-title="Biking">
                        <input type="radio" name="anytime-mode" value="biking">
                        <i class="md md-directions-bike"></i>
                    </label>
                </div>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-transit" title="" data-original-title="Regional Rail">
                        <input type="checkbox" name="public-transit-mode" value="train">
                        <i class="md md-directions-transit"></i>
                    </label>
                </div>
            </div>
            <button type="submit">&rarr;</button>
        </form>
    </div>
</section>
<section class="content content-gray">
    <div class="container">
        <h2>Featured Locations <small>
            <a id="viewAll" href="#">View all &raquo;</a>
        </small></h2>
        <div class="sk-spinner sk-spinner-three-bounce hidden">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
        </div>
        <div class="row destinations">
            <div class="col-sm-4">
                <a class="block block-destination" href="#">
                    <h3 class="destination-name">{{ destinations.0.name }}</h3>
                    <h5 class="destination-address">{{ destinations.0.address }}</h5>
                    <h5 class="destination-address-2">{{ destinations.0.city }}, {{ destinations.0.state }} {{ destinations.0.zip }}</h5>
                    {% if destinations.0.image %}
                    <img src="{{ destinations.0.image.url }}" width="400" height="400"/>
                    {% else %}
                    <img src="http://placehold.it/400x400.jpg" />
                    {% endif %}
                </a>
            </div>
            <div class="col-sm-4">
                <a class="block block-destination" href="#">
                    <h3 class="destination-name">{{ destinations.1.name }}</h3>
                    <h5 class="destination-address">{{ destinations.1.address }}</h5>
                    <h5 class="destination-address-2">{{ destinations.1.city }}, {{ destinations.1.state }} {{ destinations.1.zip }}</h5>
                    {% if destinations.1.image %}
                    <img src="{{ destinations.1.image.url }}" width="400" height="400"/>
                    {% else %}
                    <img src="http://placehold.it/400x400.jpg" />
                    {% endif %}
                </a>
            </div>
            <div class="col-sm-4">
                <a class="block block-destination block-half" href="#">
                    <h3 class="destination-name">{{ destinations.2.name }}</h3>
                    <h5 class="destination-address">{{ destinations.2.address }}</h5>
                    <h5 class="destination-address-2">{{ destinations.2.city }}, {{ destinations.2.state }} {{ destinations.2.zip }}</h5>
                    {% if destinations.2.image %}
                    <img src="{{ destinations.2.wide_image.url }}" width="400" height="200"/>
                    {% else %}
                    <img src="http://placehold.it/400x400.jpg" />
                    {% endif %}
                </a>
                <a class="block block-destination block-half" href="#">
                    <h3 class="destination-name">{{ destinations.3.name }}</h3>
                    <h5 class="destination-address">{{ destinations.3.address }}</h5>
                    <h5 class="destination-address-2">{{ destinations.3.city }}, {{ destinations.3.state }} {{ destinations.3.zip }}</h5>
                    {% if destinations.3.image %}
                    <img src="{{ destinations.3.wide_image.url }}" width="400" height="200"/>
                    {% else %}
                    <img src="http://placehold.it/400x400.jpg" />
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Community Spotlight <small><a href="#">View all &raquo;</a></small></h3>
                <div class="row">
                  {% if community_profile %}
                    <div class="col-sm-6">
                      <a class="block block-spotlight"
                         href="{% url 'cms.views.community_profile_detail' community_profile.slug %}">
                            <h3 class="destination-name">{{ community_profile.title }}</h3>
                            <h5>Community Profile</h5>
                            <img src="http://placehold.it/400x600.jpg" />
                        </a>
                    </div>
                    {% endif %}
                    {% if tips_and_tricks %}
                    <div class="col-sm-6">
                      <a class="block block-spotlight"
                         href="{% url 'cms.views.tips_and_tricks_detail' tips_and_tricks.slug %}">
                            <h3 class="destination-name">{{ tips_and_tricks.title }}</h3>
                            <h5>Tips & Tricks</h5>
                            <img src="http://placehold.it/400x600.jpg" />
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 hidden-xs hidden-sm">
                <h3>Recent Tweets</h3>
                <a class="block block-recent" href="#">
                    <h5>@mike_tedeschi</h5>
                    <h3>Just used @opentransit to get to @waterworksphl! Check it out: http://ph.ly/aE35tz</h3>
                </a>
                <a class="block block-recent" href="#">
                    <h5>@mike_tedeschi</h5>
                    <h3>Just used @opentransit to get to @waterworksphl! Check it out: http://ph.ly/aE35tz</h3>
                </a>
                <a class="block block-recent" href="#">
                    <h5>@mike_tedeschi</h5>
                    <h3>Just used @opentransit to get to @waterworksphl! Check it out: http://ph.ly/aE35tz</h3>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>
{% include "footer-mixin.html" %}
{% endblock %}

{%block jspage %}
<script type="text/javascript">
$(document).ready(function () {
    var home = new CAC.Pages.Home();
    home.initialize();
});
</script>
{% endblock %}
