{% extends "base.html" %}
{% load cropping %}
{% load staticfiles %}
{% load destination_extras %}
{% load tz %}
{% block content %}
    {% include "partials/header.html" %}

    <div class="the-map" id="map"></div>

    <form class="directions-form-element" action="" method="post">
        <div class="directions-form">
            <div class="mode-picker">
                <div class="mode-toggle">
                    <div class="walk mode-option on" title ="Walk there">
                        <i class="icon-walk"></i> <span class="mode-label">Walk</span>
                    </div>
                    <div class="bike mode-option" title ="Bike there">
                        <i class="icon-bike"></i> <span class="mode-label">Bike</span>
                    </div>
                    <input type="hidden" name="mode" value="walk">
                </div>
                <div class="transit mode-option on" title ="Click to disable transit">
                    <i class="icon-transit-on"></i> <span class="mode-label">Transit</span>
                    <input type="hidden" name="transit" value="on">
                </div>
                <div class="btn-options" title="Route options">
                    <i class="icon-sliders"></i>
                </div>
            </div>
            <div class="directions-from directions-text-input">
                <label for="input-directions-from">from</label>
                <input type="search" id="input-directions-from" name="input-directions-from"
                    value="" placeholder="Enter a starting point"
                    tabindex="1" class="typeahead" data-typeahead-key="origin">
                <button class="btn-geolocate" title="Detect current location" type="button"
                    tabindex="3" name="geolocate"><i class="icon-geolocate"></i></button>
            </div>
            <div class="directions-to directions-tab-button directions-text-input">
                <label for="input-directions-to">to</label>
                <input type="search" id="input-directions-to" name="input-directions-to" value=""
                    placeholder="Enter a destination – or choose below"
                    tabindex="2" class="typeahead" data-typeahead-key="destination">
                <button class="btn-reverse" title="Swap starting point and destination"
                    tabindex="4" type="button" name="reverse"><i class="icon-reverse"></i></button>
            </div>
            <div class="isochrone-control directions-tab-button directions-text-input hidden">
                <label for="isochrone-slider">within</label>
                <div id="output-directions-within">15</div>
                <input type="range" id="isochrone-slider" name="isochrone-slider" value="15"
                    tabindex="5" min="15" max="60" step="15">
            </div>
        </div>
    </form>

    <div class="sidebar-banner indego-banner">
        <div class="banner-message">Need wheels? Click <i class="icon-sliders"></i> for Indego bike sharing</div>
        <button title="Dismiss this message" name="close"
            class="btn-dismiss-sidebar-banner"><i class="icon-cancel"></i>
        </button>
    </div>

    <div class="sidebar-banner trip-options-banner hidden"></div>

    <div class="places">
        <div class="places-content hidden">
            <header class="places-header">
                <h1>Places we love</h1>
                <a href="#" class="map-view-btn">Map View</a>
                <div class="filter-toggle filter-toggle-tabs">
                    <div class="all filter-option on" data-filter="All">
                        All
                    </div>
                    <div class="nature filter-option" data-filter="Nature">
                        Nature
                    </div>
                    <div class="exercise filter-option" data-filter="Exercise">
                        Exercise
                    </div>
                    <div class="educational filter-option" data-filter="Educational">
                        Educational
                    </div>
                    <div class="filter-divider"></div>
                    <div class="tours filter-option" data-filter="Tours">
                        Tours
                    </div>
                    <div class="events filter-option" data-filter="Events">
                        Events
                    </div>
                    <input type="hidden" name="destination-filter" value="All">
                </div>
            </header>
            <ul class="place-list" data-filter="All">
                {% for destination in destinations %}
                <li class="place-card {% if destination.is_event %}event-card {% elif destination.is_tour %}tour-card {% else %}destination-card {% endif %}no-origin"
                    {% get_directions_id destination as directions_id %}
                    {% get_destination_x destination as destination_x %}
                    {% get_destination_y destination as destination_y %}
                    {% get_place_ids destination as place_ids %}
                    data-destination-id="{{ directions_id }}"
                    data-destination-places="{{ place_ids }}"
                    data-destination-x="{{ destination_x }}"
                    data-destination-y="{{ destination_y }}">
                    {% if destination.is_tour %}
                        <div class="place-card-carousel-container">
                            <div class="place-card-carousel">
                                <img src="{% cropped_thumbnail destination.first_destination 'wide_image' %}"
                                    width="310" height="155" />
                                {% for tour_dest in destination.tour_destinations.all|slice:"1:" %}
                                <img class="place-card-carousel-extra-image hidden"
                                    src="{% cropped_thumbnail tour_dest.destination 'wide_image' %}"
                                    width="310" height="155" />
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="place-card-photo-container">
                            <img class="place-card-photo"
                                {% if destination.image %}
                                    src="{% cropped_thumbnail destination 'image' %}"
                                {% elif destination.first_destination %}
                                    src="{% cropped_thumbnail destination.first_destination 'image' %}"
                                {% else %}
                                    src="https://placehold.it/310x155.jpg"
                                {% endif %}
                                width="310" height="155"
                                alt="{{ destination.name }}" />
                        </div>
                    {% endif %}
                    <div class="place-card-info">
                        <div class="place-card-meta">
                            <div class="travel-logistics">
                                <span class="travel-logistics-duration">N min</span>
                                from <span class="travel-logistics-origin">origin</span>
                            </div>
                            <div class="tour-label">
                                Tour
                            </div>
                            <div class="event-label">
                                Upcoming Event
                            </div>
                            <div class="event-date-time">
                            <!-- show date/time if an event -->
                            {% if destination.is_event %}
                                {% if destination.start_date|localtime|date:"D N j" == destination.end_date|localtime|date:"D N j" %}
                                <!-- same-day event -->
                                <div class="event-date event-time">
                                    {{ destination.start_date|date:"D M j" }}
                                    &middot;
                                    {{ destination.start_date|time:"fA" }}
                                </div>
                                {% else %}
                                <!-- event ends on different day than it starts -->
                                <div class="event-date event-time">
                                    {{ destination.start_date|date:"D M j" }}
                                    &ndash;
                                    {{ destination.end_date|date:"D M j" }}
                                </div>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                        <h2 class="place-card-name">{{ destination.name }}</h2>
                    </div>
                    <div class="place-card-footer">
                        <div class="place-card-actions">
                            {% get_directions_id destination as directions_id %}
                            {% if directions_id %}
                            <a class="place-card-action place-action-go"
                                data-destination-id="{{ directions_id }}"
                                data-destination-places="{{ place_ids }}"
                                href="#">
                                {% if destination.is_tour %}Map{% else %}Directions{% endif %}
                                </a>
                            {% endif %}
                            <a class="place-card-action place-action-details"
                               {% if destination.is_event %}
                               href="{% url 'event-detail' pk=destination.pk %}"
                               {% elif destination.is_tour %}
                               href="{% url 'tour-detail' pk=destination.pk %}"
                               {% else %}
                               href="{% url 'place-detail' pk=destination.pk %}"
                               {% endif %}
                               >More info</a>
                        </div>
                        <div class="place-card-badges">
                            {% has_activity destination 'cycling' as has_cycling %}
                            {% if has_cycling %}
                            <span class="badge activity" title="Cycling">
                                <i class="icon-cycling"></i>
                            </span>
                            {% endif %}
                            {% if destination.watershed_alliance %}
                            <a class="badge link"
                                href="https://www.watershedalliance.org/"
                                title="Alliance for Watershed Education"
                                target="_blank">
                                <img class="image"
                                    src="/static/images/awe-icon.png"
                                    srcset="/static/images/awe-icon.png 1x, /static/images/awe-icon@2x.png 2x"
                                    height="20"
                                    alt="Alliance for Watershed Education"></a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% include "partials/spinner.html" %}
    </div>

    {% if article %}
        {% include "partials/article-card.html" with show_link=True %}
    {% endif %}

    <div class="directions-results">
        {% include "partials/spinner.html" %}
        <div class="directions-list"></div>
    </div>

    <div class="directions-step-by-step"></div>

    {% include "partials/modals.html" %}

    {% include "partials/footer.html" %}
{% endblock %}

{%block jspage %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
    CAC.Settings.fbAppId = '{{ fb_app_id }}';
    CAC.Settings.routingUrl = '{{ routing_url }}';
    CAC.Settings.isochroneUrl = '{{ isochrone_url }}';
    var home = new CAC.Pages.Home();
    var Utils = CAC.Utils;
    home.initialize();

    jQuery('.place-card-carousel').each(function (index, carouselNode) {
        tns(Object.assign({container: carouselNode}, Utils.defaultCarouselOptions, {autoplay: false}));
    });
    jQuery('.place-card-carousel-extra-image').removeClass('hidden');

});
</script>
{% endblock %}
