{% extends "base.html" %}
{% block content %}
{% include "header-mixin.html" %}
<section class="app">
    <div id="map"></div>
    <aside class="sidebar">
        <div class="sidebar-tabs">
            <button class="btn active" data-tab="explore">Discover Places</button>
            <button class="btn" data-tab="directions">Get Directions</button>
        </div>
        <section class="explore" data-sidebar-tab="true">
            <div class="sidebar-block sidebar-search">
                <input id="exploreOrigin" class="typeahead" data-typeahead-key="search" type="search"
                placeholder="Search by location" />
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="sidebar-block sidebar-options">
                <div class="address">
                    <h4>
                        340 N 12th Street
                        <small>Philadelphia, PA 19107</small>
                    </h4>
                </div>
                <div class="options search">
                    <input id="exploreTime" class="isochrone-input input-string-right-margin" type="number" value="20" min="5" step="5" max="120" />
                    <span class="text">minutes via</span>
                    <div id="exploreModeSelector" class="btn-toolbar transit-types-container">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit active" title="" data-original-title="Walking">
                                <input type="radio" name="anytime-mode" value="walking" checked="">
                                <i class="icon-walk"></i>
                            </label>
                            <label class="btn btn-primary btn-transit" title="" data-original-title="Biking">
                                <input type="radio" name="anytime-mode" value="biking">
                                <i class="icon-bike"></i>
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit" title="" data-original-title="Regional Rail">
                                <input type="checkbox" name="public-transit-mode" value="train">
                                <i class="icon-train"></i>
                            </label>
                            <label class="btn btn-primary btn-transit" title="" data-original-title="Bus &amp; Subway">
                                <input type="checkbox" name="public-transit-mode" value="bus">
                                <i class="icon-bus"></i>
                            </label>
                        </div>
                    </div>
                    <span class="text">departing</span>

                    <input id="datetimeExplore" class="isochrone-input input-datetimepicker input-string-left-margin" type="text" value="20" min="5" step="5" max="120" placeholder="now" />
                </div>
                <div id="moreExplore" class="more-options">
                    <div id="exploreBikeTriangle">
                        <h6>What kind of ride do you want?</h6>
                        <select class="form-control selectpicker isochrone-input">
                            <option selected value="neutral">Neutral</option>
                            <option value="faster">Faster</option>
                            <option value="flatter">Flatter</option>
                            <option value="safer">Safer</option>
                        </select>
                    </div>
                    <div id="exploreMaxWalk">
                        <h6>Maximum walking distance</h6>
                        <div class="input-group">
                            <input type="number" class="form-control isochrone-input"
                                placeholder="0.5" value="0.5" min="0.1" step="0.1" >
                            <span class="input-group-addon">miles</span>
                        </div>
                    </div>
                    <div id="exploreWheelchair" class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="isochrone-input"> <h6>Wheelchair accessible</h6>
                        </label>
                    </div>
                </div>
                <a class="view-more">View more options</a>
            </div>
            <div class="sidebar-block sidebar-details">
                <div class="sk-spinner sk-spinner-three-bounce hidden block block-destination">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
                <div class="destinations">
                </div>
            </div>
        </section>
        <section class="directions hidden" data-sidebar-tab="true">
            <div class="sidebar-block sidebar-search">
                <input class="typeahead origin" data-typeahead-key="origin" type="search" placeholder="Select an origin " />
                <input class="typeahead destination" data-typeahead-key="destination" type="search" placeholder="Select a destination" />
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="sidebar-block sidebar-options">
                <div class="options search">
                    <span class="text">traveling via</span>
                    <div id="directionsModeExplorer" class="btn-toolbar transit-types-container">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit active" title="" data-original-title="Walking">
                                <input type="radio" name="anytime-mode" value="walking" checked="">
                                <i class="icon-walk"></i>
                            </label>
                            <label class="btn btn-primary btn-transit" title="" data-original-title="Biking">
                                <input type="radio" name="anytime-mode" value="biking">
                                <i class="icon-bike"></i>
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit" title="" data-original-title="Regional Rail">
                                <input type="checkbox" name="public-transit-mode" value="train">
                                <i class="icon-train"></i>
                            </label>
                            <label class="btn btn-primary btn-transit" title="" data-original-title="Bus &amp; Subway">
                                <input type="checkbox" name="public-transit-mode" value="bus">
                                <i class="icon-bus"></i>
                            </label>
                        </div>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-text" data-toggle="dropdown" aria-expanded="false">
                        departing <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">departing</a></li>
                        <li><a href="#">arriving</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <input id="datetimeDirections" class="isochrone-input input-datetimepicker" type="text" value="20" min="5" step="5" max="120" placeholder="now" />
                </div>
                <div id="moreDirections" class="more-options">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="arriveByDirections"
                                   value="departAt" class="direction-input" />
                            Depart At</label>
                        <label class="btn btn-primary">
                            <input type="radio" name="arriveByDirections"
                                   value="arriveBy" class="direction-input" />
                            Arrive By</label>
                    </div>
                    <div id="directionsBikeTriangle">
                        <h6>What kind of ride do you want?</h6>
                        <select class="form-control selectpicker direction-input">
                            <option selected value="neutral">Neutral</option>
                            <option value="faster">Faster</option>
                            <option value="flatter">Flatter</option>
                            <option value="safer">Safer</option>
                        </select>
                    </div>
                    <div id="directionsMaxWalk">
                        <h6>Maximum walking distance</h6>
                        <div class="input-group">
                            <input type="number" class="form-control direction-input"
                                placeholder="0.5" value="" min="0.1" step="0.1" >
                            <span class="input-group-addon">miles</span>
                        </div>
                    </div>
                    <div id="directionsWheelchair" class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="direction-input"> <h6>Wheelchair accessible</h6>
                        </label>
                    </div>
                </div>
                <a class="view-more">View more options</a>
            </div>
            <div class="sidebar-clip">
                <div class="sidebar-block sidebar-details">
                    <div class="sk-spinner sk-spinner-three-bounce hidden">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                    <div class="itineraries"></div>
                    <div class="directions-list hidden"></div>
                </div>
            </div>
            </div>
        </section>
    </aside>
    <div class="layers">
        <div class="layers-button">
            Layers
            <div class="layers-panel hidden">
                content
            </div>
        </div>
    </div>
</section>
{% endblock %}

{%block jspage %}
<script type="text/javascript">
$(document).ready(function () {
    // Settings pulled in from server-side
    CAC.Settings.routingUrl = '{{ routing_url }}';

    var map = new CAC.Pages.Map();
    map.initialize();
});
</script>
{% endblock %}
