{% extends "base.html" %}
{% block content %}
{% include "header-mixin.html" %}
<section class="app">
    <div id="map"></div>
    <aside class="sidebar">
        <div class="sidebar-tabs">
            <button class="btn" data-tab="explore">Discover Places</button>
            <button class="btn" data-tab="directions">Get Directions</button>
        </div>
        <section class="explore" data-sidebar-tab="true">
            <div class="sidebar-block sidebar-search">
                <input id="exploreOrigin" class="typeahead" data-typeahead-key="search" type="search"
                placeholder="Search by location" />
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="sidebar-block sidebar-options">
                <div class="address">
                    <h4>
                        340 N 12th Street
                        <small>Philadelphia, PA 19107</small>
                    </h4>
                </div>
                <div class="options search">
                    <input id="exploreTime" type="number" value="20" min="5" step="5" max="120" />
                    <span class="text">minutes via</span>
                    <select id="exploreModeSelector" class="custom-select">
                        <option value="TRANSIT,WALK" selected>Transit</option>
                        <option value="BICYCLE">Bike</option>
                        <option value="BICYCLE,TRANSIT,WALK">Bike + Transit</option>
                        <option value="WALK">Walk Only</option>
                        <option value="BUSISH,WALK">Transit (Prefer Bus)</option>
                        <option value="TRAINISH,WALK">Transit (Prefer Trains)</option>
                    </select>
                </div>
                <div id="moreExplore" class="more-options">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="arriveByExplore" value="arriveBy"
                                checked />Arrive By</label>
                        <label class="btn btn-primary">
                            <input type="radio" name="arriveByExplore" value="departAt" />Depart At</label>
                    </div>
                    <h6>Day and time</h6>
                    <div class="input-group date" id="datetimeExplore">
                        <input type="text" class="form-control" />  <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span></span>
                    </div>
                    <div id="#exploreBikeTriangle">
                        <h6>What kind of ride do you want?</h6>
                        <select class="form-control">
                            <option selected>Neutral</option>
                            <option>Faster</option>
                            <option>Flatter</option>
                            <option>Safer</option>
                        </select>
                    </div>
                    <div id="#exploreMaxWalk">
                        <h6>Maximum walking distance</h6>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="0.5">
                            <span class="input-group-addon">miles</span>
                        </div>
                    </div>
                    <div id="#exploreWheelchair" class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox"> <h6>Wheelchair accessible</h6>
                        </label>
                    </div>
                </div>
                <a class="view-more">View more options</a>
            </div>
            <div class="sidebar-clip">
                <div class="sidebar-block sidebar-details">
                    <div class="destinations">
                        <a class="block block-destination">
                            <div class="modes"></div>
                            <h3>Destination name</h3>
                            <h5>20 minutes away</h5>
                            <img src="http://placehold.it/300x200.jpg" />
                        </a>
                        <a class="block block-destination">
                            <div class="modes"></div>
                            <h3>Destination name</h3>
                            <h5>20 minutes away</h5>
                            <img src="http://placehold.it/300x200.jpg" />
                        </a>
                        <a class="block block-destination">
                            <div class="modes"></div>
                            <h3>Destination name</h3>
                            <h5>20 minutes away</h5>
                            <img src="http://placehold.it/300x200.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="directions hidden" data-sidebar-tab="true">
            <div class="sidebar-block sidebar-search">
                <input class="typeahead origin" data-typeahead-key="origin" type="search" placeholder="Select an origin " />
                <input class="typeahead destination" data-typeahead-key="destination" type="search" placeholder="Select a destination" />
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="sidebar-block sidebar-options">
                <div class="options search">
                    <span class="text">via</span>
                    <select id="directionsModeSelector" class="custom-select">
                        <option value="TRANSIT,WALK" selected>Transit</option>
                        <option value="BICYCLE">Bike</option>
                        <option value="BICYCLE,TRANSIT,WALK">Bike + Transit</option>
                        <option value="WALK">Walk Only</option>
                        <option value="BUSISH,WALK">Transit (Prefer Bus)</option>
                        <option value="TRAINISH,WALK">Transit (Prefer Trains)</option>
                    </select>
                </div>
                <div id="moreDirections" class="more-options">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="arriveByDirections" value="arriveBy"
                                checked />Arrive By</label>
                        <label class="btn btn-primary">
                            <input type="radio" name="arriveByDirections" value="departAt" />Depart At</label>
                    </div>
                    <h6>Day and time</h6>
                    <div class="input-group date" id="datetimeDirections">
                        <input type="text" class="form-control" />  <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span></span>
                    </div>
                    <div id="#directionsBikeTriangle">
                        <h6>What kind of ride do you want?</h6>
                        <select class="form-control">
                            <option selected>Neutral</option>
                            <option>Faster</option>
                            <option>Flatter</option>
                            <option>Safer</option>
                        </select>
                    </div>
                    <div id="#directionsMaxWalk">
                        <h6>Maximum walking distance</h6>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="0.5">
                            <span class="input-group-addon">miles</span>
                        </div>
                    </div>
                    <div id="#directionsWheelchair" class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox"> <h6>Wheelchair accessible</h6>
                        </label>
                    </div>
                </div>
                <a class="view-more">View more options</a>
            </div>
            <div class="sidebar-clip">
                <div class="sidebar-block sidebar-details">
                    <div class="itineraries">
                </div>
            </div>
            </div>
        </section>
    </aside>
    <div class="layers">
        <div class="layers-button">
            Layers
            <div class="layers-panel hidden">
                content
            </div>
        </div>
    </div>
</section>
{% endblock %}

{%block jspage %}
<script type="text/javascript">
$(document).ready(function () {
    // Settings pulled in from server-side
    CAC.Settings.routingUrl = '{{ routing_url }}';

    var map = new CAC.Pages.Map();
    map.initialize();
});
</script>
{% endblock %}
