{% extends "base.html" %}
{% block content %}
<section class="app">
    <div id="map"></div>
    <div id="linkModal" class="modal fade link-modal" tabindex="-1" role="dialog"
        aria-labelledby="directLinkBtn" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Directions link</h4>
                </div>
                <div class="modal-body">
                    <h3>
                        <p>Here's a page with step-by-step directions for your trip:</p>
                        <p><a id="modalDirectionsLink" href="#" target="_blank"></a></p>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <aside class="sidebar">
        <div class="small-header">
            {% include "header-mixin.html" %}
        </div>
        <div class="sidebar-tabs">
            <button class="btn active" data-tab="explore">Discover Places</button>
            <button class="btn hidden-xs" data-tab="directions">Get Directions</button>
        </div>
        <section class="explore" data-sidebar-tab="true">
            <div class="sidebar-block sidebar-search">
                <input class="typeahead search" data-typeahead-key="search"
                    type="search" placeholder="Search by location" />
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="sidebar-block sidebar-options">
                <div class="address">
                    <h4>
                        340 N 12th Street
                        <small>Philadelphia, PA 19107</small>
                    </h4>
                </div>
                <div class="options search">
                    <input id="exploreTime" class="isochrone-input input-string-right-margin"
                        type="number" value="20" min="5" step="5" max="120" />
                    <span class="text">minutes via</span>
                    <div id="exploreModes" class="btn-toolbar transit-types-container">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit active" title=""
                                data-original-title="Walking">
                                <input type="radio" name="anytime-mode"
                                    value="WALK" checked />
                                <i class="md md-directions-walk"></i>
                            </label>
                            <label class="btn btn-primary btn-transit" title=""
                                data-original-title="Biking">
                                <input type="radio" name="anytime-mode"
                                    value="BICYCLE" />
                                <i class="md md-directions-bike"></i>
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit active" title=""
                                data-original-title="Transit">
                                <input type="checkbox"
                                    name="public-transit-mode" value="TRANSIT" checked />
                                <i class="md md-directions-transit"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="moreExplore" class="more-options">
                    <h6>Departing</h6>
                    <input id="datetimeExplore" class="isochrone-input input-datetimepicker form-control"
                        type="text" placeholder="now" />

                    <div id="exploreBikeTriangle">
                        <h6>What kind of ride do you want?</h6>
                        <select class="form-control selectpicker isochrone-input">
                            <option selected value="neutral">Neutral</option>
                            <option value="faster">Faster</option>
                            <option value="flatter">Flatter</option>
                            <option value="safer">Safer</option>
                        </select>
                    </div>
                    <div id="exploreMaxWalk">
                        <h6>Maximum walking distance</h6>
                        <div class="input-group">
                            <input type="number" class="form-control isochrone-input"
                                placeholder="2" value="2" min="0.1" step="0.1" >
                            <span class="input-group-addon">miles</span>
                        </div>
                    </div>
                    <div id="exploreWheelchair" class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox"
                                class="isochrone-input" /> <h6>Wheelchair accessible</h6>
                        </label>
                    </div>
                </div>
                <a class="view-more">View more options</a>
            </div>
            <div class="sidebar-block sidebar-details">
                <div class="sk-spinner sk-spinner-three-bounce hidden block block-destination">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
                <div class="destinations">
                </div>
            </div>
        </section>
        <section class="directions hidden" data-sidebar-tab="true">
            <div class="sidebar-block sidebar-search hidden-xs">
                <input class="typeahead origin" data-typeahead-key="origin" type="search" placeholder="Select an origin " />
                <input class="typeahead destination" data-typeahead-key="destination" type="search" placeholder="Select a destination" />
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="sidebar-block sidebar-options hidden-xs">
                <div class="options search">
                    <div id="directionsModes" class="btn-toolbar transit-types-container">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit active"
                                title="" data-original-title="Walking">
                                <input type="radio" name="anytime-mode" value="WALK" checked />
                                <i class="md md-directions-walk"></i>
                            </label>
                            <label class="btn btn-primary btn-transit" title=""
                                data-original-title="Biking">
                                <input type="radio" name="anytime-mode" value="BICYCLE" />
                                <i class="md md-directions-bike"></i>
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-transit active" title=""
                                data-original-title="Transit">
                                <input type="checkbox"
                                    name="public-transit-mode" value="TRANSIT" checked />
                                <i class="md md-directions-transit"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="moreDirections" class="more-options">
                    <select id="directionsDepartAt" class="selectpicker direction-input form-control"
                        data-width="auto">
                        <option value="departAt" selected>Departing at</option>
                        <option value="arriveBy">Arriving by</option>
                    </select>
                    <input id="datetimeDirections" class="direction-input input-datetimepicker form-control"
                        type="text" placeholder="now" />
                    <div id="directionsBikeTriangle">
                        <h6>What kind of ride do you want?</h6>
                        <select class="form-control selectpicker direction-input">
                            <option selected value="neutral">Neutral</option>
                            <option value="faster">Faster</option>
                            <option value="flatter">Flatter</option>
                            <option value="safer">Safer</option>
                        </select>
                    </div>
                    <div id="directionsMaxWalk">
                        <h6>Maximum walking distance</h6>
                        <div class="input-group">
                            <input type="number" class="form-control direction-input"
                                placeholder="2" value="" min="2" step="0.1" />
                            <span class="input-group-addon">miles</span>
                        </div>
                    </div>
                    <div id="directionsWheelchair" class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox"
                                class="direction-input" /> <h6>Wheelchair accessible</h6>
                        </label>
                    </div>
                </div>
                <a class="view-more">View more options</a>
            </div>
            <div class="sidebar-clip">
                <div class="sidebar-block sidebar-details">
                    <div class="sk-spinner sk-spinner-three-bounce hidden">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                    <div class="itineraries"></div>
                    <div class="directions-list hidden"></div>
                </div>
            </div>
            </div>
        </section>
    </aside>
    <div class="layers">
        <div class="layers-button">
            Layers
            <div class="layers-panel hidden">
                content
            </div>
        </div>
    </div>
</section>
{% endblock %}

{%block jspage %}
<script type="text/javascript">
$(document).ready(function () {
    // Settings pulled in from server-side
    CAC.Settings.routingUrl = '{{ routing_url }}';
    CAC.Settings.fbAppId = '{{ fb_app_id }}';

    var map = new CAC.Pages.Map();
    map.initialize();
});
</script>
{% endblock %}
