{% extends "base.html" %}
{% load cropping %}
{% load staticfiles %}

{% block pagetitle %}
<title>{% block title %}GoPhillyGo | {{ destination.name }}{% endblock %}</title>

<meta property="og:title" content="{{ destination.name }}" />
<meta name="twitter:title" content="{{ destination.name }}" />
<meta name="apple-mobile-web-app-title" content="{{ destination.name }}">
<meta property="og:type" content="place" />
<meta property="og:rich_attachment" content="true" />
{% endblock %}

{% block extrametatags %}
<meta property="fb:app_id" content="{{ fb_app_id }}" />
<meta property="fb:pages" content="299797223477237" />
<meta property="fb:profile_id" content="gophillygo" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="GoPhillyGo" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@go_philly_go" />
<meta name="twitter:description" content="{{ destination.description|striptags }}" />
<meta property="og:description" content="{{ destination.description|striptags }}" />
<meta property="og:image" content="{{ request.build_absolute_uri }}{% cropped_thumbnail destination 'wide_image' %}" />
<meta name="twitter:image" content="{{ request.build_absolute_uri }}{% cropped_thumbnail destination 'wide_image' %}" />
<meta name="og:image:alt" content="{{ destination.description|striptags }}" />
<meta name="twitter:image:alt" content="{{ destination.description|striptags }}" />
<meta property="og:image:width" content="680" />
<meta property="og:image:height" content="400" />
{% endblock %}

{% block content %}
    {% include "partials/header.html" %}
    <div class="main">
        <h1><a href="{% url 'home' %}">Places We Love</a></h1>
        {% include "partials/destination-detail.html" %}

        <div class="summaries-list">
            <h3>More great, green places around Philly</h3>
            {% for destination in more_destinations %}
                {% include "partials/destination-card.html" %}
            {% endfor %}
            <div class="more-link">
                <a href="{% url 'home' %}">See them all</a>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}

{%block jspage %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
    $('.detail-image-carousel').slick({
        arrows: false,
        dots: true,
        autoplay: true,
        fade: true,
        cssEase: 'linear',
        mobileFirst: true,
        lazyLoad: 'ondemand',
        slidesToShow: 1,
    });
});
</script>
{% endblock %}
