{% extends "base.html" %}
{% load cropping %}
{% load staticfiles %}

{% block pagetitle %}
<title>{% block title %}GoPhillyGo | Privacy Policy{% endblock %}</title>

<meta property="og:title" content="Privacy Policy" />
<meta name="twitter:title" content="Privacy Policy" />
<meta name="apple-mobile-web-app-title" content="{{ event.name }}">
{% endblock %}

{% block extrametatags %}
<meta property="fb:app_id" content="{{ fb_app_id }}" />
<meta property="fb:pages" content="299797223477237" />
<meta property="fb:profile_id" content="gophillygo" />
<meta property="og:url"
    content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/" />
<meta property="og:site_name" content="GoPhillyGo" />
<meta property="og:locale" content="en_US" />
{% endblock %}

{% block content %}
    {% include "partials/header.html" %}
    <div class="main terms">
        <h1>GoPhillyGo Privacy Policy</h1>
        <p>Last updated: July 2018</p>
        <p><em>Our privacy policy applies to information we collect when you use or access our website, application, or just interact with us. We may change this privacy policy from time to time. Whenever we make changes to this privacy policy, the changes are effective immediately after we post the revised privacy policy (as indicated by revising the date at the top of our privacy policy). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.</em></p>
        <p>Clean Air Council ("us", "we", or "our") operates <a target="_blank" href="https://gophillygo.org/">https://gophillygo.org/</a> (the "Site") and the companion GoPhillyGo mobile application for Android (the “Application”, together with the Site, collectively referred to as the “Services”). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Services.</p>
        <p>We use your the information you provide to us anonymously (i.e., we do not collect any personal information) and only for providing and improving the Services. By using the Services, you agree to the collection and use of information in accordance with this policy.</p>
        <p>In the mobile application, you can choose to disable our collection of certain pieces of information (e.g., your selections regarding destinations/events of interest, usage and crash logs, etc.,) by accessing the Settings page. See the “Your Information Choices” section below for more information.</p>
        <h2>Collection of Information</h2>
        <h3>Information You Provide to Us</h3>
        <p>We collect information you provide directly to us. For example, we collect information when you participate in any interactive features of our Services, request customer support, provide any contact or identifying information or otherwise communicate with us.</p>
        <h3>Information We Collect Automatically When You Use the Services</h3>
        <p>When you access or use our services, we automatically collect information about you, including:</p>
        <ul>
            <li>Log Information: We log information about your use of our services, including the type of browser you use, access times, pages viewed, the geographic location of your IP address and the page you visited before navigating to our Services.</li>
            <li>Device Information: We collect information about the computer or mobile device you use to access our Services, including the hardware model, and operating system and version.</li>
            <li>Location Information: We may collect (but do not store) information about the location of your device each time you access or use the Application.</li>
            <li>Information Collected by Cookies and Other Tracking Technologies: We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits.</li>
        </ul>
        <p>For more details about how we collect information, including details how to disable/enable the collection of certain data, please see "Your Information Choices" below.</p>
        <h2>Use of Information</h2>
        <p>We use information about you for various purposes, including to:</p>
        <ul>
            <li>Provide, maintain and improve our Services;</li>
            <li>Provide services you request and to send you related information;</li>
            <li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
            <li>Respond to your comments, questions and requests and provide customer service;</li>
            <li>Communicate with you about news and information related to our service;</li>
            <li>Monitor and analyze trends, usage and activities in connection with our services; and</li>
            <li>Improve our services.</li>
        </ul>
        <p>By accessing and using our services, you consent to the processing and transfer of your information in and to the United States and other countries.</p>
        <h2>Sharing of Information</h2>
        <p>We may share personal information about you as follows:</p>
        <ul>
            <li>If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request;</li>
            <li>To enforce applicable user agreements or policies, including our Terms of Service; and to protect us, our users or the public from harm or illegal activities;</li>
            <li>In connection with any merger, sale of Clean Air Council assets, financing or acquisition of all or a portion of our business to another company; and</li>
            <li>If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information.</li>
        </ul>
        <p>We may also share aggregated or anonymized information that does not directly identify you.</p>
        <h2>Third Party Analytics</h2>
        <p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including the location of your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.</p>
        <p>Currently, analytics for the mobile Application are provided by Fabric Crashlytics. Data collected by Crashlytics may include identifiers for mobile devices, cookies and similar technologies. By default, Crashlytics collects all user triggered events listed <a target="_blank" href="https://support.google.com/firebase/answer/6317485?authuser=0">here</a>, which includes, but is not limited to, when the mobile Application crashes, when a user deletes the mobile Application, and when a user has a user session of a certain period of time. The Fabric Terms of Service can be found <a target="_blank" href="https://fabric.io/terms">here</a>.</p>
        <p>For the website, analytics are provided by Google Analytics. Data collected by Google Analytics is listed <a target="_blank" href="https://support.google.com/analytics/answer/6318039?hl=en">here</a>, and may include, but is not limited to, the location of your IP address, the duration of your web session, and your device type and browser. The Google Analytics Terms of Service can be found <a target="_blank" href="https://www.google.com/analytics/terms/us.html">here</a>.</p>
        <h2>Security</h2>
        <p>We take reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>
        <h2>Your Information Choices</h2>
        <h3>Location Information (mobile Application only)</h3>
        <p>When you first launch the mobile Application, you will be asked to consent to the application's collection of this information. Note that the mobile Application only uses the device’s location temporarily (i.e., to show distances to a destination and to provide directions) and this information is not saved. If you initially consent to our collection of location information, you can subsequently stop the collection of this information at any time by changing the preferences on your mobile device. If you do so, the mobile Application, or certain features thereof, will no longer function. You may also stop our collection of location information by following the standard uninstall process to remove the mobile Application from your device.</p>
        <h3>User Settings (mobile Application only)</h3>
        <p>You can opt out of sharing your settings by deselecting “Share selections” on the Settings page of the mobile Application.</p>
        <h3>Third Party Analytics (mobile Application only)</h3>
        <p>You can opt out of sharing analytics by deselecting “Share crash and usage data” on the Settings page of the mobile Application.</p>
        <h3>Cookies (Site only)</h3>
        <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.</p>
        <h2>Changes To This Privacy Policy</h2>
        <p>This Privacy Policy is effective as of June 2018 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
        <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
        <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about this privacy policy, please contact us at: <a target="_blank" href="mailto:info@gophillygo.org">info@gophillygo.org</a>.</p>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
