{% extends "base.html" %}
{% load cropping %}
{% load staticfiles %}

{% block pagetitle %}
<title>{% block title %}GoPhillyGo | Terms of Service{% endblock %}</title>

<meta property="og:title" content="Terms of Service" />
<meta name="twitter:title" content="Terms of Service" />
<meta name="apple-mobile-web-app-title" content="{{ event.name }}">
{% endblock %}

{% block extrametatags %}
<meta property="fb:app_id" content="{{ fb_app_id }}" />
<meta property="fb:pages" content="299797223477237" />
<meta property="fb:profile_id" content="gophillygo" />
<meta property="og:url"
    content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/" />
<meta property="og:site_name" content="GoPhillyGo" />
<meta property="og:locale" content="en_US" />
{% endblock %}

{% block content %}
    {% include "partials/header.html" %}
    <div class="main terms">
        <h1>GoPhillyGo Terms and Conditions ("Terms")</h1>
        <p>Last updated: July 2018</p>
        <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the GoPhillyGo website and/or mobile application (collectively, the "Service" or “Application”) operated by the <a target="_blank" href="https://cleanair.org/">Clean Air Council</a> ("us", "we", or "our").</p>
        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all users of the Service.</p>
        <p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong></p>
        <h2>Links To Other Websites</h2>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by the Clean Air Council.</p>
        <p>Clean Air Council has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Clean Air Council shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such websites or services.</p>
        <h2>Changes</h2>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. For instance, we may need to change these Terms if we come out with a new feature or for some other reason.</p>
        <p>Whenever we make changes to these Terms, the changes are effective immediately after we post such revised Terms (indicated by revising the date at the top of these Terms) or upon your acceptance if we provide a mechanism for your immediate acceptance of the revised Terms (such as a click-through confirmation or acceptance button). It is your responsibility to check the GoPhillyGo mobile application for changes to these Terms.</p>
        <p>If you continue to use the Service after the revised Terms go into effect, then you have accepted the changes to these Terms.</p>
        <h2>Privacy Policy</h2>
        <p>For information about how we collect and use information about users of the Service, please check out our <a target="_blank" href="/privacy_policy">Privacy Policy</a>.</p>
        <h2>End User License</h2>
        <p>Clean Air Council grants you a revocable, non-exclusive, non-transferable, limited license to download, install and/or use the Application solely for your personal, non-commercial purposes strictly in accordance with the terms of this Agreement.</p>
        <h2>Restrictions</h2>
        <p>You agree not to, and you will not permit others to license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the Application or make the Application available to any third party.</p>
        <h2>Modifications to Application</h2>
        <p>Clean Air Council reserves the right to modify, suspend or discontinue, temporarily or permanently, the Application or any service to which it connects, with or without notice and without liability to you.</p>
        <h2>Your Use of the Application</h2>
        <p>Our Service allows you to do the following: </p>
        <ul>
            <li>The website allows you and others to plan multi-modal trips, set preferences for travel modes, and search for/browse destinations reachable within a certain amount of time. (Any data you input is saved only in your browser’s storage and can be deleted by clearing your browser’s cache.)</li>
            <li>The mobile application allows you and others to tag content made available through the Application according to your preferences. All tagging information is collected anonymously and tied only to the user’s anonymous identifier.</li>
        </ul>
        <p>When you enable sharing of your selections (on the Settings page), you grant us the right and license to use, reproduce, and display those selections (“Want to go”, “Liked”, “Been”, and “Not Interested”) to you on or through the Service. You can reset your preferences and/or opt out of sharing your selections by following the instructions outlined in the Settings page of the mobile Application. For more information, see the <a target="_blank" href="/privacy_policy">Privacy Policy</a>.</p>
        <p>You agree that you will not do any of the following in connection with the Service or other users:</p>
        <ul>
            <li>Use the Service in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Service or that could damage, disable, overburden or impair the functioning of the Service; and</li>
            <li>Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Service, users of the Service, or third parties.</li>
        </ul>
        <h2>Clean Air Council Materials</h2>
        <p>We put a lot of effort into creating the Service including, the logo and all designs, text, graphics, pictures, information and other content. This property is owned by us or our licensors and it is protected by U.S. and international copyright laws. We grant you the right to use it.</p>
        <p>However, unless we expressly state otherwise, your rights do not include: (i) publicly performing or publicly displaying the Service; (ii) modifying or otherwise making any derivative uses of the Service or any portion thereof; (iii) using any data mining, robots or similar data gathering or extraction methods; (iv) downloading (other than page caching) of any portion of the Service or any information contained therein; (v) reverse engineering or accessing the Service in order to build a competitive product or service; or (vi) using the Service other than for its intended purposes. If you do any of this stuff, we may terminate your use of the Service.</p>
        <h2>Hyperlinks and Third Party Content</h2>
        <p>You may create a hyperlink to the Service. But, you may not use, frame or utilize framing techniques to enclose any of our trademarks, logos or other proprietary information without our express written consent, which will not be unreasonably withheld.</p>
        <p>Clean Air Council makes no claim or representation regarding, and accepts no responsibility for third party websites accessible by hyperlink from the Service or websites linking to the Service. When you leave the Service, you should be aware that these Terms and our policies no longer govern.</p>
        <p>If there is any content on the Service from you and others, we don't review, verify or authenticate it, and it may include inaccuracies or false information. We make no representations, warranties, or guarantees relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole responsibility for and assume all risk arising from your use of or reliance on any content.</p>
        <h2>Miscellaneous</h2>
        <p>THE SERVICE AND ANY OTHER SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE ARE PROVIDED TO YOU ON AN AS IS OR AS AVAILABLE BASIS WITHOUT ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND. WE DISCLAIM ANY AND ALL WARRANTIES AND REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THE SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY REASON OF CUSTOM OR USAGE IN THE TRADE, BY COURSE OF DEALING OR OTHERWISE.</p>
        <p>IN NO EVENT WILL CLEAN AIR COUNCIL BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, INDIRECT, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THE SERVICE OR ANY OTHER SERVICE AND/OR CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE, REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR ARE AWARE OF THE POSSIBILITY OF SUCH DAMAGES. OUR TOTAL LIABILITY FOR ALL CAUSES OF ACTION AND UNDER ALL THEORIES OF LIABILITY WILL BE LIMITED TO THE AMOUNT YOU PAID TO CLEAN AIR COUNCIL. THIS SECTION WILL BE GIVEN FULL EFFECT EVEN IF ANY REMEDY SPECIFIED IN THIS AGREEMENT IS DEEMED TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>
        <p>You agree to defend, indemnify and hold us harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys' fees, costs, penalties, interest and disbursements) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party relating to your use of the Service or the use of the Service by any person using your account, including any claim that your use of the Service violates any applicable law or regulation, or the rights of any third party, and/or your violation of these Terms.</p>
        <h2>Governing Law</h2>
        <p>The validity of these Terms and the rights, obligations, and relations of the parties under these Terms will be construed and determined under and in accordance with the laws of the Commonwealth of Pennsylvania, without regard to conflicts of law principles.</p>
        <h2>Jurisdiction</h2>
        <p>You expressly agree that exclusive jurisdiction for any dispute with the Service or relating to your use of it, resides in the courts of the Commonwealth of Pennsylvania and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the Commonwealth of Pennsylvania in connection with any such dispute including any claim involving Service. You further agree that you and Service will not commence against the other a class action, class arbitration or other representative action or proceeding.</p>
        <h2>Term and Termination</h2>
        <p>This Agreement shall remain in effect until terminated by you or Clean Air Council.</p>
        <p>Clean Air Council may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.</p>
        <p>This Agreement will terminate immediately, without prior notice from Clean Air Council, in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting the Application and all copies thereof from your mobile device or from your desktop.</p>
        <p>Upon termination of this Agreement, you shall cease all use of the Application and delete all copies of the Application from your mobile device or from your desktop.</p>
        <h2>Entire Agreement</h2>
        <p>These Terms constitute the entire agreement between you and Clean Air Council regarding the use of the Service, superseding any prior agreements between you and Clean Air Council relating to your use of the Service.</p>
        <h2>Severability</h2>
        <p>If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.</p>
        <h2>Feedback</h2>
        <p>Please let us know what you think of the Service, these Terms and, in general, the GoPhillyGo mobile application. When you provide us with any feedback, comments or suggestions about the Service, these Terms and, in general, the GoPhillyGo mobile application, you irrevocably assign to us all of your right, title and interest in and to your feedback, comments and suggestions.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms, please contact us at <a target="_blank" href="mailto:info@gophillygo.org">info@gophillygo.org</a>.</p>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
