.block {
    display: block;
    position: relative;
    overflow: hidden;

    &.block-destination {
        height: 360px;
        cursor: pointer;

        .homepage &:after{
            opacity: 0.15;
            content: '';
            position: absolute;
            background: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            transition: 0.5s all;
        }

        .homepage &:hover:after {
            opacity: 0.05;
        }

        @media screen and #{$screen-xs} {
            margin-bottom: 15px;
        }

        &.block-half {
            height: 172px;

            @media screen and #{$screen-xs} {
                margin-bottom: 15px;
            }

            &:first-of-type {
                margin-bottom: 15px;
            }

            h3 { font-size: 2.1rem; bottom: 63px;
                @media screen and #{$screen-xs}, #{$screen-sm}, #{$screen-md} {
                    font-size: 1.8rem;
                }
            }
            h5 { font-size: 1.4rem; bottom: 43px; }
            h5.destination-address-2 {
                bottom: 23px;
            }
        }

        h3 {
            bottom: 70px;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            text-shadow: 0 0 8px rgba(0,0,0,0.35);
        }
        h5 {
            bottom: 50px;
            font-size: 1.6rem;
            font-weight: 300;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.destination-address-2 {
                bottom: 30px;
            }
        }
    }
    &.block-spotlight {
        height: 495px;
        margin-bottom: 20px;

        h3 {
            bottom: 50px;
            font-size: 3.6rem;
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
        }
        h5 {
            bottom: 35px;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        img {
            bottom: 0;
            width: auto;
            max-width: none;
        }
    }
    &.block-recent {
        height: 155px;
        margin-bottom: 15px;
        background: #41C0CB;

        &:last-of-type {
            margin-bottom: 0;
        }

        h3 {
            bottom: 35px;
            margin-bottom: 0;
            font-size: 2.1rem;
        }
        h5 {
            top: 12px;
        }
    }

    img {
        width: 100%;
        top: 0;
    }
    h3, h5, img {
        position: absolute;
        left: 0;
        z-index: 1;
    }
    h3, h5 {
        color: white;
        z-index: 3;
        left: 30px;
        right: 30px;
    }
    h5 {
        margin-bottom: 0;
    }
}
