base58==2.0.0
boto3==1.13.19
Django==2.2.13
django-ckeditor==5.9.0
django-image-cropping==1.4.0
django-extensions==2.2.9
django-storages==1.9.1
easy-thumbnails==2.7
gunicorn==20.0.4
Pillow==7.1.2
psycopg2-binary==2.8.5
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
git+https://github.com/azavea/django-wpadmin@v2.2#egg=django-wpadmin
virtualenv==20.0.21
