base58==1.0.3
boto==2.49.0
Django==2.2.8
django-ckeditor==5.8.0
django-image-cropping==1.2.0
django-extensions==2.2.5
django-storages==1.8
easy-thumbnails==2.6.0
gunicorn==20.0.4
Pillow==6.2.1
psycopg2-binary==2.8.4
pytz==2019.3
PyYAML==5.2
requests==2.22.0
git+https://github.com/azavea/django-wpadmin@v2.2#egg=django-wpadmin
virtualenv==16.7.8
