base58==2.0.1
boto3==1.15.9
Django==3.2.12
django-ckeditor==6.0.0
django-image-cropping==1.5.0
django-extensions==3.1.5
django-storages==1.10.1
easy-thumbnails==2.8.1
gunicorn==20.0.4
Pillow==7.2.0
psycopg2-binary==2.8.6
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
git+https://github.com/azavea/django-wpadmin@v3.2#egg=django-wpadmin
virtualenv==20.0.31
