input {
    &:focus {
        outline: none;
    }

    &[type="search"] {
        border: none;
        background: none;
        width: 100%;
    }

    &.error {
        border: solid 1px red;
    }
}
