.jumbotron {
    margin-bottom: 0;
    position: relative;
    height: 560px;
    background-position: center center;
    background-size: cover;

    &.small {
        height: 400px;
        background-image: url('../images/homepage_hero.jpg');
        background-size: cover;
    }
}
