.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: top;
    min-width: 160px;
    margin: 0 15px;

    > .ms-choice {
        background: #999;
        border: none;
        color: white;
        padding: 17px 14px;
        margin: 0;
        height: 60px;
        border-radius: 0;
        line-height: 1.4;
        position: relative;

        > span {
            position: relative;
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 0;
        }
        > div {
            display: none;
        }
    }
    > .ms-drop {
        margin-top: 0;
        border: 1px solid $light-gray;
        box-shadow: none;
        text-align: left;
        padding: 10px 15px;

        ul {
            padding: 0;
        }
        label {
            font-weight: 300;
        }
        input[type="checkbox"] {
            vertical-align: top;
            margin: 5px 8px 0 0;
        }

        .ms-select-all {
            display: none;
        }
    }
}