/**
 * Dropdown structure looks like this:
 * https://github.com/twitter/typeahead.js/blob/master/doc/jquery_typeahead.md#look-and-feel
 */
.twitter-typeahead {
    &::-webkit-input-placeholder {
        color: gray;
        opacity: 0.75;
        font-style: italic;
    }
    &:-moz-placeholder,
    &::-moz-placeholder
    &:-ms-input-placeholder {
        color: gray;
    }
    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    .tt-dropdown-menu {
        background-color: white;
        border: 1px solid #ccc;
        min-width: 100%;
        text-align: left;
        margin-top: 5px;

        .tt-cursor {
            background-color: #F1F2F2;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.3;
            margin: 0;
            padding: 10px 15px;
        }
    }
}

.tt-hint {
    color: #999;
}

.locate-icon {
    position: absolute;
    right: 16px;
    top: 18px;
    cursor: pointer;
    z-index: 999;
}
