
.icon-plus:before { content: '\e800'; } /* '' */
.icon-bike:before { content: '\e801'; } /* '' */
.icon-transit:before { content: '\e802'; } /* '' */
.icon-walk:before { content: '\e803'; } /* '' */
.icon-reverse:before { content: '\e804'; } /* '' */
.icon-transit-off:before { content: '\e805'; } /* '' */
.icon-transit-on:before { content: '\e806'; } /* '' */
.icon-left-big:before { content: '\e807'; } /* '' */
.icon-turn-right:before { content: '\e808'; } /* '' */
.icon-turn-left:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-road:before { content: '\e80d'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-indego:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-email:before { content: '\f0e0'; } /* '' */
.icon-geolocate:before { content: '\f124'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */