$home-main-max-width: 680px;
$home-section-margin: 30px;
$home-section-padding: 20px;

$place-card-width: 310px;
$place-card-drop-shadow: 0 0 6px rgba(0, 0, 0, .3);

$modal-panel-drop-shadow: 0 0 100px rgba(0, 0, 0, .3);

$sidebar-width: 340px;
$footer-sidebar-height: 60px;
$directions-form-sidebar-height: 140px;

$sidebar-banner-height: 50px;

$route-summary-height: 80px;
