html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    background-color: $body-color;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
}
